<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img th:src="@{/images/toonGather_logo.png}" alt="툰게더 로고">
        </div>
        <div class="footer-content">
            <div class="footer-content">
                <div class="footer-nav-container">
                    <div class="footer-nav">
                        <ul>
                            <li><a th:href="@{/}">웹툰 아카이브</a></li>
                            <li><a th:href="@{/social/main}">툰투게더</a></li>
                            <li><a th:href="@{/recruit/main}">채용</a></li>
                            <li><a th:href="@{/introduction/journalList}">소개</a></li>
                            <li><a th:href="@{/cs/csMain}">고객센터</a></li>
                        </ul>
                    </div>
                    <a href="https://github.com/c010rfu1express/multi-final-toonGather" class="social-icon" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            <div class="footer-info">
                <p>multi-it 백엔드 개발자 부트캠프 25회차 파이널 프로켁트 2조 (팀 툰게더) </p>
                <p>© 2024 툰게더 toonGather. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</html>