<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<header class="header">
    <div class="top-bar">
        <div class="user-nav">
            <a th:href="@{/user/signup}">회원가입</a>
            <a th:href="@{/user/login}">로그인</a>
            <a th:href="@{/user/my}">마이페이지</a>
        </div>
    </div>
    <div class="header-container">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/toonGather_logo.png}" alt="툰게더 로고">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a th:href="@{/webtoon/test}">웹툰 아카이브</a></li>
                <li><a th:href="@{/social/main}">툰투게더</a></li>
                <li><a th:href="@{/recruit/main}">채용</a></li>
                <li><a th:href="@{/introduction/journalList}">소개</a></li>
                <li><a th:href="@{/cs/csMain}">고객센터</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>
