<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    body {
     font-family: 'Noto Sans KR', Arial, sans-serif!important;

       }
   .navbar .form-inline .Search {
           border-radius: 20px; /* 둥근 모서리를 위한 경계 반경 설정 */
           padding-left: 15px; /* 왼쪽 내부 여백 */
           padding-right: 15px; /* 오른쪽 내부 여백 */
           width: 400px; /* 원하는 너비 */
       }
       .navbar .form-inline .Search:focus {
           outline: none; /* 포커스 시 테두리 제거 */
           box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* 포커스 시 테두리 효과 */
       }
       .navbar .form-inline .btn-search {
           border-radius: 20px; /* 둥근 모서리를 위한 경계 반경 설정 */
       }
</style>
<body>

<header class="header-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <!-- 네비게이션 메뉴 -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="platformDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ALL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="platformDropdown">
                        <a class="dropdown-item" href="/webtoon/main?provider=KAKAO" data-platform="KAKAO">KAKAO</a>
                        <a class="dropdown-item" href="/webtoon/main?provider=NAVER" data-platform="NAVER">NAVER</a>
                        <a class="dropdown-item" href="/webtoon/main?provider=ALL" data-platform="ALL">ALL</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=MON}">월요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=TUE}">화요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=WED}">수요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=THU}">목요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=FRI}">금요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=SAT}">토요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=SUN}">일요일</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/webtoon/main?updateDay=COM}">완결</a>
                </li>
            </ul>
            <form class="form-inline" th:action="@{/webtoon/search}" method="get" id="searchForm">
                <input class="Search mr-sm-2" type="search" placeholder="제목, 작가, #태그로 검색" aria-label="검색" name="search" minlength="2" required maxlength="50">
                <input type="hidden"  name="Method" id="methodInput" th:value="name">
                <input type="hidden"  name="platform" th:value="ALL">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
        </nav>

    </div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('searchForm').onsubmit = function(event) {
       var searchInput = document.querySelector('input[name="search"]').value.trim();
        var methodInput = document.getElementById('methodInput');



        if (searchInput.includes('#')) {
        if (searchInput.length < 2 || searchInput === '') {
            alert('검색어를 입력하시오');
            event.preventDefault(); // 폼 제출 방지
            return false; // 폼 제출 방지
        }
            methodInput.value = 'tags'; // '#가 포함되어 있으면 methodInput 값 설정
        } else {
        if (searchInput.length < 1 || searchInput === '') {
            alert('검색어를 입력하시오');
            event.preventDefault(); // 폼 제출 방지
            return false; // 폼 제출 방지
        }
            methodInput.value = 'name'; // 기본값 유지
        }

        return true;
   };


   $(document).ready(function() {
       // URL에서 파라미터 값을 가져오는 함수
       function getUrlParameter(name) {
           name = name.replace(/\[/g, '\\[').replace(/\]/g, '\\]');
           var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
           var results = regex.exec(location.search);
           return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, ' '));
       }

       // 페이지 로드 시 URL에서 provider 값을 읽어와서 플랫폼 드롭다운을 설정하는 함수
       function setPlatformFromUrl() {
           var provider = getUrlParameter('provider');
           if(provider==null){
           provider='ALL';


           }
           console.log(provider);
           if (provider) {
               // provider 값에 따라 플랫폼 선택
               $('.dropdown-item').each(function() {
                   var platform = $(this).data('platform');
                   if (platform === provider.toUpperCase()) { // 대소문자 구분을 없애기 위해 toUpperCase() 사용
                       $('#platformDropdown').text(platform); // 선택된 플랫폼 텍스트 업데이트
                       return false; // 선택된 후에는 반복문 종료
                   }
               });

               // 요일별 링크에 provider 값 추가
               updateDayLinks(provider);
           }
       }

       // 요일별 링크의 href 속성을 업데이트하는 함수
       function updateDayLinks(provider) {
           var days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN', 'COM'];
           for (var i = 0; i < days.length; i++) {
               var dayLink = '/webtoon/main?updateDay=' + days[i] + '&provider=' + provider;
               $('a.nav-link[href*="updateDay=' + days[i] + '"]').attr('href', dayLink);
           }
       }

       // 페이지 로드 시 플랫폼 설정 함수 호출
       setPlatformFromUrl();

       // 드롭다운 메뉴 항목 클릭 이벤트 처리
       $('.dropdown-item').click(function(e) {
           e.preventDefault();
           var selectedPlatform = $(this).data('platform'); // 선택된 플랫폼 이름 가져오기

           // 즉시 페이지 이동
           var url = $(this).attr('href');
           var urlParams = new URLSearchParams(window.location.search);
           var updateDay = urlParams.get('updateDay');
           if(updateDay===null){
           window.location.href = url;
           }else{
           window.location.href = url+'&updateDay='+updateDay;
           }

           // 플랫폼 레이블 업데이트
           $('#platformDropdown').text(selectedPlatform);

           // 요일별 링크 업데이트는 새로고침 시 자동으로 될 것입니다.
       });
   });
</script>

</body>
</html>
