<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.toonGather.webtoon.model.dao.WebToonMapper">
    <select id="WebToonSelectOne" parameterType="com.multi.toonGather.webtoon.model.WebtoonDTO" resultType="com.multi.toonGather.webtoon.model.WebtoonDTO">
        select * from webtoon where platform=#{platform} and webtoon_id=#{webtoon_id}
    </select>
    <update id="increaseCount" parameterType="com.multi.toonGather.webtoon.model.WebtoonDTO">
        update webtoon set count =count + 1  where webtoon_no = #{webtoon_no}
    </update>
</mapper>
