<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.toonGather.webtoon.model.dao.WebToonMapper">

    <resultMap id="commentResultMap" type="com.multi.toonGather.webtoon.model.dto.CommentDTO">
        <id property="commentNo" column="comment_no" />
        <result property="webtoonNo" column="webtoon_no" />
        <result property="userNo" column="user_no" />
        <result property="content" column="content" />
        <result property="liked" column="liked" />
        <result property="dislike" column="dislike" />
        <result property="nickname" column="nickname" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>


    <resultMap id="wtUserLogResultMap" type="com.multi.toonGather.webtoon.model.dto.WtUserLogDTO">

        <id property="logNo" column="log_no"/>
        <result property="webtoonNo" column="webtoon_no"/>
        <result property="userNo" column="user_no"/>
        <result property="count" column="count"/>
        <result property="createdAt" column="created_at" />
    </resultMap>

    <resultMap id="wtUserSavetMap" type="com.multi.toonGather.webtoon.model.dto.WtUserSaveDTO">
        <id property="saveNo" column="save_no"/>
        <result property="webtoonNo" column="webtoon_no"/>
        <result property="userNo" column="user_no"/>
    </resultMap>

    <resultMap id="CommentLikeResultMap" type="com.multi.toonGather.webtoon.model.dto.CommentLikeDTO">
        <id property="commentNo" column="comment_no" />
        <result property="userNo" column="user_no" />
        <result property="likeCode" column="like_code" />
    </resultMap>

<select id="WebToonSelectOne" parameterType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO" resultType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO">
        select * from webtoon where platform=#{platform} and webtoon_id=#{webtoon_id}
    </select>

    <insert id="webToonInsert" parameterType="com.multi.toonGather.webtoon.model.dto.WtUserLogDTO">
        INSERT INTO webtoon (webtoon_id, platform, webtoon_name, author,thumbnail_url,genre,tags)
        VALUES (#{webtoon_id}, #{platform}, #{webtoon_name}, #{author},#{thumbnail_url},#{genre},#{tags})
    </insert>



    <update id="increaseCount" parameterType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO">
        update webtoon set count =count + 1  where webtoon_no = #{webtoon_no}
    </update>


    <select id="Commentlist" parameterType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO" resultMap="commentResultMap">
        SELECT c.comment_no, c.webtoon_no, c.user_no,
        u.nickname, c.content, c.liked, c.dislike,c.created_at,updated_at
        FROM wt_comment c
        INNER JOIN users u ON c.user_no = u.user_no
        WHERE
        webtoon_no = #{webtoon_no}
        ORDER BY c.comment_no DESC
    </select>
    <insert id="insertComment" parameterType="com.multi.toonGather.webtoon.model.dto.CommentDTO">
        INSERT INTO wt_comment (webtoon_no, user_no, content)
        VALUES (#{webtoonNo}, #{userNo}, #{content})
    </insert>
    <update id="updateComment" parameterType="com.multi.toonGather.webtoon.model.dto.CommentDTO">
        UPDATE wt_comment
        SET content = #{content}
        WHERE comment_no = #{commentNo}
    </update>
    <delete id="deleteComment" parameterType="com.multi.toonGather.webtoon.model.dto.CommentDTO">
        DELETE FROM wt_comment WHERE comment_no = #{commentNo}
    </delete>

    <select id="selrctLog" resultMap="wtUserLogResultMap">
        SELECT log_no, webtoon_no, user_no, count
        FROM wt_user_log
        WHERE webtoon_no = #{webtoonNo}
        AND user_no = #{userNo}
    </select>

    <insert id="insertLog" parameterType="com.multi.toonGather.webtoon.model.dto.WtUserLogDTO">
        INSERT INTO wt_user_log (webtoon_no, user_no)
        VALUES (#{webtoonNo}, #{userNo})
    </insert>

    <update id="updateLog">
        UPDATE wt_user_log
        set count =count + 1,
        created_at = NOW()
        WHERE log_no = #{logNo}
    </update>

    <select id="countWebtoon" resultType="int">
        SELECT COUNT(*)
        FROM webtoon
        WHERE tags LIKE CONCAT('%', #{tag1}, '%')
        <if test="platform == 'NAVER'">
            AND platform = 1
        </if>
        <if test="platform == 'KAKAO'">
            AND platform = 2
        </if>
        <if test="tag2 != null">
            AND tags LIKE CONCAT('%', #{tag2}, '%')
        </if>
        <if test="tag3 != null">
            AND tags LIKE CONCAT('%', #{tag3}, '%')
        </if>
    </select>

    <select id="searchWebtoon" resultType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO">
        SELECT *
        FROM webtoon
        WHERE tags LIKE CONCAT('%', #{tag1}, '%')
        <if test="platform == 'NAVER'">
            AND platform = 1
        </if>
        <if test="platform == 'KAKAO'">
            AND platform = 2
        </if>
        <if test="tag2 != null">
            AND tags LIKE CONCAT('%', #{tag2}, '%')
        </if>
        <if test="tag3 != null">
            AND tags LIKE CONCAT('%', #{tag3}, '%')
        </if>
        <if test="Genre1 != null">
            AND tags LIKE CONCAT('%', #{Genre1}, '%')
        </if>
        <if test="Genre2 != null">
            AND tags LIKE CONCAT('%', #{Genre2}, '%')
        </if>
        ORDER BY webtoon_name
        LIMIT #{start}, 50
    </select>

    <select id="recommendWebtoon" resultType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO">
        SELECT *
        FROM webtoon
        WHERE tags LIKE CONCAT('%', #{tag1}, '%')
        <if test="platform == 'NAVER'">
            AND platform = 1
        </if>
        <if test="platform == 'KAKAO'">
            AND platform = 2
        </if>
        <if test="tag2 != null">
            AND tags LIKE CONCAT('%', #{tag2}, '%')
        </if>
        <if test="tag3 != null">
            AND tags LIKE CONCAT('%', #{tag3}, '%')
        </if>
        <if test="Genre1 != null">
            AND genre LIKE CONCAT('%', #{Genre1}, '%')
        </if>
        <if test="Genre2 != null">
            OR genre LIKE CONCAT('%', #{Genre2}, '%')
        </if>
        ORDER BY count DESC
        LIMIT 12;
    </select>


    <select id="WebToonSelectSave" resultMap="wtUserSavetMap">
        SELECT *
        FROM wt_user_save
        WHERE webtoon_no = #{webtoonNo}
        AND user_no = #{userNo}
    </select>

    <insert id="insertSave">
        INSERT INTO wt_user_save (webtoon_no, user_no)
        VALUES (#{webtoonNo}, #{userNo})
    </insert>

    <delete id="deleteSave">
        DELETE FROM wt_user_save WHERE save_no = #{saveNo}
    </delete>

    <select id="commentLikeList" resultMap="CommentLikeResultMap">
        SELECT *
        FROM wt_comment_like
        WHERE user_no = #{userNo}
    </select>

    <insert id="likeInsert">
        INSERT INTO wt_comment_like (comment_no, user_no,like_code)
        VALUES (#{commentNo}, #{userNo},1)
    </insert>

    <update id="likeUpdateUP">
        UPDATE wt_comment
        SET liked = liked + 1
        WHERE comment_no = #{commentNo};
    </update>

    <delete id="likeDelet">
        DELETE FROM wt_comment_like
        WHERE comment_no = #{commentNo}
        AND user_no = #{userNo};
    </delete>

    <update id="likeUpdateDown">
        UPDATE wt_comment
        SET liked = liked - 1
        WHERE comment_no = #{commentNo};
    </update>


    <insert id="dislikeInsert">
        INSERT INTO wt_comment_like (comment_no, user_no,like_code)
        VALUES (#{commentNo}, #{userNo},-1)
    </insert>

    <update id="dislikeUpdateUP">
        UPDATE wt_comment
        SET dislike = dislike + 1
        WHERE comment_no = #{commentNo};
    </update>

    <update id="dislikeUpdateDown">
        UPDATE wt_comment
        SET dislike = dislike - 1
        WHERE comment_no = #{commentNo};
    </update>


    <select id="CommentBestList" parameterType="com.multi.toonGather.webtoon.model.dto.WebtoonDTO" resultMap="commentResultMap">
        SELECT c.comment_no, c.webtoon_no, c.user_no, u.nickname, c.content, c.liked, c.dislike
        FROM wt_comment c
        INNER JOIN users u ON c.user_no = u.user_no
        WHERE c.webtoon_no = #{webtoon_no}
        AND (c.liked - c.dislike) >= 10
        ORDER BY c.liked - c.dislike DESC
        LIMIT 3;
    </select>

    <select id="webtoonBest">
        select * from webtoon
        ORDER BY count DESC
        LIMIT 12;
    </select>

    <select id="webtoonUserBest">
        SELECT
        w.*,
        SUM(ul.count) AS user_count -- 각 웹툰의 총 조회수
        FROM
        webtoon w
        JOIN
        wt_user_log ul ON w.webtoon_no = ul.webtoon_no
        WHERE
        ul.user_no = #{userNo}  -- 사용자의 user_no
        AND ul.created_at >= NOW() - INTERVAL 30 DAY  -- 최근 30일 동안의 로그
        GROUP BY
        w.webtoon_no
        ORDER BY
        SUM(ul.count) DESC  -- 총 조회수 기준으로 내림차순 정렬
        ,w.count  DESC
        LIMIT 10;
    </select>
</mapper>
