<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.toonGather.webtoon.model.dao.WebToonMapper">

    <resultMap id="commentResultMap" type="com.multi.toonGather.webtoon.model.CommentDTO">
        <id property="commentNo" column="comment_no" />
        <result property="webtoonNo" column="webtoon_no" />
        <result property="userNo" column="user_no" />
        <result property="content" column="content" />
        <result property="liked" column="liked" />
        <result property="dislike" column="dislike" />
        <result property="nickname" column="nickname" />
    </resultMap>

<select id="WebToonSelectOne" parameterType="com.multi.toonGather.webtoon.model.WebtoonDTO" resultType="com.multi.toonGather.webtoon.model.WebtoonDTO">
        select * from webtoon where platform=#{platform} and webtoon_id=#{webtoon_id}
    </select>
    <update id="increaseCount" parameterType="com.multi.toonGather.webtoon.model.WebtoonDTO">
        update webtoon set count =count + 1  where webtoon_no = #{webtoon_no}
    </update>


    <select id="Commentlist" parameterType="com.multi.toonGather.webtoon.model.WebtoonDTO" resultMap="commentResultMap">
        SELECT c.comment_no, c.webtoon_no, c.user_no, u.nickname, c.content, c.liked, c.dislike
        FROM wt_comment c
        INNER JOIN users u ON c.user_no = u.user_no
        where
        webtoon_no = #{webtoon_no}
    </select>
    <insert id="insertComment" parameterType="com.multi.toonGather.webtoon.model.CommentDTO">
        INSERT INTO wt_comment (webtoon_no, user_no, content)
        VALUES (#{webtoonNo}, #{userNo}, #{content})
    </insert>
    <update id="updateComment" parameterType="com.multi.toonGather.webtoon.model.CommentDTO">
        UPDATE wt_comment
        SET content = #{content}
        WHERE comment_no = #{commentNo}
    </update>
    <delete id="deleteComment" parameterType="com.multi.toonGather.webtoon.model.CommentDTO">
        DELETE FROM wt_comment WHERE comment_no = #{commentNo}
    </delete>
</mapper>
