<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<script>
	// JavaScript를 사용하여 menubar.html 파일을 로드합니다.
    window.onload = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("menubar").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/common/menubar", true);
        xhttp.send();
    };
</script>
<body>


<!-- menubar.html 파일을 포함 -->

<div class="content" style="height: 600px;">
	홈페이지
	<hr color="red">
</div>
<!-- 콘텐츠 영역 -->


</body>
</html>