<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>KHG81: 회원관리상세</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>


    <script>
        //VALIDATION 1) 생년월일
            function autoFormatDate(input) {
                // Remove all non-digit characters
                let date = input.value.replace(/\D/g, '');

                // Apply the formatting based on the length of the input
                if (date.length > 4 && date.length <= 6) {
                    date = date.substring(0, 4) + '-' + date.substring(4);
                } else if (date.length > 6) {
                    date = date.substring(0, 4) + '-' + date.substring(4, 6) + '-' + date.substring(6, 8);
                }

                // Update the input value
                input.value = date;
            }

            // 생년월일을 검증하는 함수
            function validateDateOfBirth(dateOfBirth) {
                const datePattern = /^\d{4}-\d{2}-\d{2}$/; // yyyy-mm-dd 형식
                return datePattern.test(dateOfBirth);
            }

        //VALIDATION 2) 연락처
            function autoFormatPhoneNumber(input) {
                let phoneNumber = input.value.replace(/\D/g, ''); // Remove all non-digit characters
                if (phoneNumber.length > 3 && phoneNumber.length <= 7) {
                    phoneNumber = phoneNumber.substring(0, 3) + '-' + phoneNumber.substring(3);
                } else if (phoneNumber.length > 7) {
                    phoneNumber = phoneNumber.substring(0, 3) + '-' + phoneNumber.substring(3, 7) + '-' + phoneNumber.substring(7, 11);
                }
                input.value = phoneNumber;
            }


            // 연락처를 검증하는 함수
            function validatePhoneNumber(phoneNumber) {
                const phonePattern = /^\d{3}-\d{4}-\d{4}$/; // 000-0000-0000 형식
                return phonePattern.test(phoneNumber);
            }

        // 폼 제출 전에 모든 필드를 검증하는 함수

        //VALIDATION 3) 이메일
            // 이메일 형식을 확인하는 함수
            function validateEmail(email) {
                // 이메일 형식을 검증하는 정규 표현식
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailPattern.test(email);
            }

        function validateForm(event) {
        const emailInput = document.querySelector('input[name="email"]');
        const email = emailInput.value;

        //const dateOfBirthInput = document.querySelector('input[name="dateOfBirth"]');
        //const dateOfBirth = dateOfBirthInput.value;

        const phoneNumberInput = document.querySelector('input[name="contactNumber"]');
        const phoneNumber = phoneNumberInput.value;

        // 이메일 검증
        if (!validateEmail(email)) {
            alert("이메일 형식이 올바르지 않습니다. 예: example@example.com");
            event.preventDefault(); // 폼 제출을 막음
            return;
        }

        // 생년월일 검증
       // if (!validateDateOfBirth(dateOfBirth)) {
       //     alert("생년월일 형식이 올바르지 않습니다. 예: yyyy-mm-dd");
       //     event.preventDefault(); // 폼 제출을 막음
       //     return;
       // }

        // 연락처 검증
        if (phoneNumber.length > 0 && !validatePhoneNumber(phoneNumber)) {
            alert("연락처 형식이 올바르지 않습니다. 예: 000-0000-0000");
            event.preventDefault(); // 폼 제출을 막음
            return;
        }

        } //validateForm(event)

    </script>
</head>
<body>

<div th:replace="~{common/menubar}"></div>
<style>
    .jumbotron {
    position : relative;
    background-color : #EEEEEE;
    }
    .jumbotron .row {
    position : absolute;
    width : 100%;
    bottom: 0%;
    }

    #loginbox {
    border-radius : 5%;
    border-color : #F2F2F2;
    }

    #loginbox2 {
    border-radius : 5%;
    border-color : #F2F2F2;
    }

    .form-control {
    background-color : #FCFCFC;
    border : none;
    width : 100%;
    height : 50px;
    }

    .logininput {
    background-color : #FCFCFC;
    border : none;
    height : 50px;
    }

    .logininput::placeholder {
    color : #BBBBBB;
    }

    button {
    background-color : #03C75A;
    }

    #ban {
    background-color : red;
    }

    .form-select {
    background-color : #FCFCFC;
    border : none;
    width : 100%;
    height : 50px;
    }

    .form-check-input {
    accent-color: #03C75A;
    }

    .profile-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    }

     .nav-link {
            color: #828282;
    }
    ul {
  list-style: none;
  padding-left : 0px;
  }
     .required-star {
        color: #03C75A;
    }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3 px-4">
            <h3>회원 관리</h3>
        </div>
        <div class="col-md-9">
            <nav class="navbar navbar-expand-md">
                <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
                    <li><a th:href="@{/user/my}" class="nav-link px-2">마이페이지(테스트용)</a></li>
                    <!--          <li><a th:href="@{/user/my/in/journal}" class="nav-link px-2">좋아요한 웹툰소식</a></li>-->
                    <!--          <li><a th:href="@{/user/my/in/event}" class="nav-link px-2">좋아요한 행사</a></li>-->
                    <!--          <li><a th:href="@{/user/my/in/merchan}" class="nav-link px-2">좋아요한 굿즈</a></li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <aside class="col-md-3 px-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="panel">
                    <ul class="list-group">
                        <li><a th:href="@{/user/admin/userlist}" class="nav-link px-2" style="color: #03C75A;">회원 관리</a></li>
                        <li><a th:href="@{/recruit/free/report/list}" class="nav-link px-2">신고 관리</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <script>
        // nickname available check
        function checkNicknameDuplicate() {
            const nickname = document.getElementById('nickname').value;

            if(!nickname) {
                alert('닉네임을 입력해 주세요.');
                return;
            }

            if (nickname.length < 4) {
                alert('닉네임의 글자수는 최소 4자입니다.');
                return;
            }

            fetch(`/user/checkNicknameDuplicate?nickname=${encodeURIComponent(nickname)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.isDuplicate) alert('이미 사용 중인 닉네임입니다.');
                    else alert('사용 가능한 닉네임입니다.');
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        } //checkNicknameDuplicate()

        // email available check
        function checkEmailDuplicate() {
            const email = document.getElementById('email').value;

            if(!email) {
                alert('이메일을 입력해 주세요.');
                return;
            }

            // 이메일 검증
            if (!validateEmail(email)) {
                alert("이메일 형식이 올바르지 않습니다. 예: example@example.com");
                return;
            }

            fetch(`/user/checkEmailDuplicate?email=${encodeURIComponent(email)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.isDuplicate) alert('이미 등록된 이메일입니다.');
                    else alert('등록 가능한 이메일입니다.');
                })
                .catch(error => {
                    console.error('Error: ', error);
                });
        } //checkEmailDuplicate()
    </script>
    <div class="col-md-9">
        <div class="row justify-content-start" style="color: #828282;">
            <div class="col-8 p-3" id="loginbox">
                <form th:action="@{/user/admin/updateuser(userNo=${user.userNo})}" th:object="${user}" method="post" enctype="multipart/form-data" onsubmit="validateForm(event)">
                    <div class="row p-2">
                        <div class="col-3">
                            <img th:if="${user.profileImagePath == null}" src="/images/defaultprofileimage.png" style="width: 100px; height: auto;" class="profile-image"/>
                            <img th:if="${user.profileImagePath != null}" th:src="@{/uploadFiles/{fileName}(fileName=${user.profileImagePath})}" style="width: 100px; height: auto;" class="profile-image"/>
                        </div>
                        <div class="col-9"></div>
                        <div class="col-3">
                            <input type="file" name="image">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            권한 임의설정
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-4">
                                    <label>
                                        <input type="radio" th:field="*{authCode}" value="A"/> 관리자
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input type="radio" th:field="*{authCode}" value="B"/> 일반회원
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input type="radio" th:field="*{authCode}" value="C"/> 창작자
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            아이디 <span class="required-star">*</span>
                        </div>
                        <div class="col-6">
                            <input class="form-control px-3" type="text" th:field="*{userId}" maxlength="20" minlength="4" readonly/>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            닉네임 <span class="required-star">*</span>
                        </div>
                        <div class="col-6">
                            <input class="form-control px-3" type="text" th:field="*{nickname}" maxlength="20" minlength="4"/>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary btn-block" style="background-color:#03C75A;" onclick="checkNicknameDuplicate()">중복확인</button>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            연락처
                        </div>
                        <div class="col-6">
                            <input class="form-control px-3 logininput" type="text" th:field="*{contactNumber}" oninput="autoFormatPhoneNumber(this)" placeholder="000-0000-0000"/>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            성별
                        </div>
                        <div class="col-6">
                            <select class="form-select px-3" th:field="*{gender}">
                                <option value="P">성별을 공개하지 않습니다</option>
                                <option value="F">여</option>
                                <option value="M">남</option>
                            </select>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            <!-- 생년월일을 연도, 월, 일로 나누어 드롭다운 박스 형태로 입력 -->
                            생년월일
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-select" id="year" name="year" th:field="*{year}" style="text-align:center;">
                                        <option th:each="y : ${years}" th:value="${y}" th:text="${y}">연도</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="month" name="month" th:field="*{month}" style="text-align:center;">
                                        <option th:each="m : ${months}" th:value="${m}" th:text="${m}">월</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" id="day" name="day" th:field="*{day}" style="text-align:center;">
                                        <option th:each="d : ${days}" th:value="${d}" th:text="${d}">일</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            실명
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="text" th:field="*{realName}" maxlength="10"/>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            이메일 <span class="required-star">*</span>
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="text" th:field="*{email}"/>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-primary btn-block" style="background-color:#03C75A;" onclick="checkEmailDuplicate()">중복확인</button>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            자기소개(선택사항)
                        </div>
                        <div class="col-6">
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" rows="3" maxlength="150" th:field="*{bio}"></textarea>
                        </div>
                    </div>

                    <div class="col-12 p-2">
                    </div>
                    <div class="row">
                        <div class="col-3 p-2">
                            <button type="submit" class="btn btn-primary btn-block" style="background-color:#03C75A; height:50px;">수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-start" style="color: #828282;">
            <div class="col-6" id="loginbox2">
                <form th:action="@{/user/admin/deleteuser(userNo=${user.userNo})}" method="post">
                    <div class="row">
                        <div class="col-3 p-2">
                            <button id="ban" type="submit" class="btn btn-primary btn-block" style="background-color: red; height:50px;">강제탈퇴</button>
                        </div>
                    </div>
                </form>
<!--                <form id="deleteUserForm" th:action="@{/user/admin/deleteuser(userNo=${user.userNo})}" method="post">-->
<!--                    <div class="col-12">-->
<!--                        <a href="javascript:void(0);" onclick="document.getElementById('deleteUserForm').submit();" style="color: #828282;">탈퇴하기</a>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>



<!--        <form th:action="@{/user/admin/deleteuser(userNo=${user.userNo})}" method="post">-->
<!--            <button type="submit">탈퇴하기(누르면 바로 삭제되니 조심!)</button>-->
<!--        </form>-->
    </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
</html>