<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.toonGather.cs.model.mapper.CsMapper">
    <resultMap id="questionResultMap" type="com.multi.toonGather.cs.model.dto.QuestionDTO">
        <id property="csQNo" column="cs_q_no"/>
        <result property="csQTitle" column="cs_q_title"/>
        <result property="csQContent" column="cs_q_content"/>
        <result property="csQWriterNo" column="cs_q_writer_no"/>
        <result property="nickname" column="nickname"/>
        <result property="csQViewCount" column="cs_q_view_count"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>

        <association property="csQCategory" javaType="com.multi.toonGather.cs.model.dto.CsCategoryDTO">
            <result property="csCategoryCode" column="cs_q_category_code"/>
            <result property="csCategoryDesc" column="cs_category_desc"/>
        </association>
        <association property="csQStatus" javaType="com.multi.toonGather.cs.model.dto.CsStatusDTO">
            <result property="csStatusCode" column="cs_q_status_code"/>
            <result property="csStatusDesc" column="cs_status_desc"/>
        </association>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.multi.toonGather.cs.model.dto.CsCategoryDTO">
        <result property="csCategoryCode" column="cs_category_code"/>
        <result property="csCategoryDesc" column="cs_category_desc"/>
    </resultMap>

    <resultMap id="statusResultMap" type="com.multi.toonGather.cs.model.dto.CsStatusDTO">
        <result property="csStatusCode" column="cs_status_code"/>
        <result property="csStatusDesc" column="cs_status_desc"/>
    </resultMap>

    <resultMap id="questionFilesResultMap" type="com.multi.toonGather.cs.model.dto.QuestionFilesDTO">
        <id property="csQFileNo" column="cs_q_file_no"/>
        <result property="csQNo" column="cs_q_no"/>
        <result property="originName" column="cs_q_origin_name"/>
        <result property="savedName" column="cs_q_saved_name"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
    </resultMap>

    <resultMap id="answerResultMap" type="com.multi.toonGather.cs.model.dto.AnswerDTO">
        <id property="csANo" column="cs_a_no"/>
        <result property="csQNo" column="cs_q_no"/>
        <result property="csAContent" column="cs_a_content"/>
        <result property="csAWriterNo" column="cs_a_writer_no"/>
        <result property="nickname" column="nickname"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
    </resultMap>

    <resultMap id="faqResultMap" type="com.multi.toonGather.cs.model.dto.FaqDTO">
        <id property="csFaqNo" column="cs_faq_no"/>
        <result property="csFaqTitle" column="cs_faq_title"/>
        <result property="csFaqContent" column="cs_faq_content"/>
        <result property="csFaqWriterNo" column="cs_faq_writer_no"/>
        <result property="nickname" column="nickname"/>
        <result property="csFaqViewCount" column="cs_faq_view_count"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
    </resultMap>

    <select id="myQuestionList" parameterType="int" resultMap="questionResultMap">
        SELECT q.*, c.cs_category_desc, s.cs_status_desc, u.nickname
        FROM cs_question q
        LEFT JOIN cs_category c ON q.cs_q_category_code = c.cs_category_code
        LEFT JOIN cs_status s ON q.cs_q_status_code = s.cs_status_code
        LEFT JOIN users u ON q.cs_q_writer_no = u.user_no
        WHERE q.cs_q_writer_no = #{userNo}
    </select>

    <select id="getCategories" resultMap="categoryResultMap">
        SELECT * FROM cs_category
    </select>

    <insert id="insertQuestion" parameterType="com.multi.toonGather.cs.model.dto.QuestionDTO" useGeneratedKeys="true" keyProperty="csQNo">
        INSERT INTO cs_question (cs_q_title, cs_q_content, cs_q_writer_no, cs_q_category_code, cs_q_status_code, cs_q_view_count, created_date, modified_date)
        VALUES (#{csQTitle}, #{csQContent}, #{csQWriterNo}, #{csQCategory.csCategoryCode}, 'N', 0, NOW(), NOW())
    </insert>

    <insert id="insertQuestionFile" parameterType="com.multi.toonGather.cs.model.dto.QuestionFilesDTO">
        INSERT INTO cs_question_files (cs_q_no, cs_q_origin_name, cs_q_saved_name, created_date, modified_date)
        VALUES (#{csQNo}, #{originName}, #{savedName}, NOW(), NOW())
    </insert>

    <select id="getQuestionById" parameterType="int" resultMap="questionResultMap">
        SELECT q.*, c.cs_category_desc, s.cs_status_desc, u.nickname
        FROM cs_question q
        LEFT JOIN cs_category c ON q.cs_q_category_code = c.cs_category_code
        LEFT JOIN cs_status s ON q.cs_q_status_code = s.cs_status_code
        LEFT JOIN users u ON q.cs_q_writer_no = u.user_no
        WHERE q.cs_q_no = #{csQNo}
    </select>

    <select id="getQuestionFilesByQuestionId" parameterType="int" resultMap="questionFilesResultMap">
        SELECT * FROM cs_question_files WHERE cs_q_no = #{csQNo}
    </select>

    <update id="updateQuestion" parameterType="com.multi.toonGather.cs.model.dto.QuestionDTO">
        UPDATE cs_question
        SET cs_q_title = #{csQTitle},
        cs_q_content = #{csQContent},
        cs_q_category_code = #{csQCategory.csCategoryCode},
        modified_date = NOW()
        WHERE cs_q_no = #{csQNo}
    </update>

    <delete id="deleteQuestionFiles" parameterType="int">
        DELETE FROM cs_question_files WHERE cs_q_no = #{csQNo}
    </delete>

    <delete id="deleteQuestion" parameterType="int">
        DELETE FROM cs_question WHERE cs_q_no = #{csQNo}
    </delete>

    <select id="questionList" resultMap="questionResultMap">
        SELECT q.*, c.cs_category_desc, s.cs_status_desc, u.nickname
        FROM cs_question q
        LEFT JOIN cs_category c ON q.cs_q_category_code = c.cs_category_code
        LEFT JOIN cs_status s ON q.cs_q_status_code = s.cs_status_code
        LEFT JOIN users u ON q.cs_q_writer_no = u.user_no
    </select>

    <select id="getAnswerList" parameterType="int" resultMap="answerResultMap">
        SELECT a.*, u.nickname
        FROM cs_answer a
        LEFT JOIN users u ON a.cs_a_writer_no = u.user_no
        WHERE cs_q_no = #{csQNo}
    </select>

    <insert id="insertAnswer" parameterType="com.multi.toonGather.cs.model.dto.AnswerDTO">
        INSERT INTO cs_answer (cs_q_no, cs_a_content, cs_a_writer_no, created_date, modified_date)
        VALUES (#{csQNo}, #{csAContent}, #{csAWriterNo}, NOW(), NOW())
    </insert>

    <select id="faqList" resultMap="faqResultMap">
        SELECT f.*, u.nickname
        FROM cs_faq f
        LEFT JOIN users u ON f.cs_faq_writer_no = u.user_no
    </select>

    <insert id="insertFaq" parameterType="com.multi.toonGather.cs.model.dto.FaqDTO">
        INSERT INTO cs_faq (cs_faq_title, cs_faq_content, cs_faq_writer_no)
        VALUES (#{csFaqTitle}, #{csFaqContent}, #{csFaqWriterNo})
    </insert>

    <select id="getFaqById" parameterType="int" resultMap="faqResultMap">
        SELECT f.*, u.nickname
        FROM cs_faq f
        LEFT JOIN users u ON f.cs_faq_writer_no = u.user_no
        WHERE cs_faq_no = #{csFaqNo}
    </select>

    <update id="updateFaq" parameterType="com.multi.toonGather.cs.model.dto.FaqDTO">
        UPDATE cs_faq
        SET cs_faq_title = #{csFaqTitle},
        cs_faq_content = #{csFaqContent},
        modified_date = NOW()
        WHERE cs_faq_no = #{csFaqNo}
    </update>
</mapper>