<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-md">
        <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
            <li><a th:href="@{/recruit/creator/choice}" class="nav-link px-2">창작자 등록</a></li>
            <li><a th:href="@{/recruit/job/list}" class="nav-link px-2">구인/구직</a></li>
            <li><a th:href="@{/recruit/free/list}" class="nav-link px-2">프리랜서</a></li>
            <li><a th:href="@{/recruit/ask/list}" class="nav-link px-2">문의 내역</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2 class="text-center mb-4">프리랜서</h2>
        <hr color="grey">
        <div id="d1">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">리뷰</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="free : ${frees}">
                    <td scope="row" th:text="${free.board_no}"></td>
                    <td>
                        <a th:href="@{/recruit/free/view(no=${free.board_no})}">
                            <span th:text="${#strings.abbreviate(free.title, 15)}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${free.member.nickname}"></span>
                        <span th:if="${free.type_code == 'C'}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#1E90FF" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                        </span>
                    </td>
                    <td th:text="${#dates.format(free.created_date, 'yyyy-MM-dd')}"></td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                        </svg>
                        <span>&nbsp;&nbsp;[[${reviews[free.board_no]}]]</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${frees == null}" style="text-align: center;">프리랜서 글이 존재하지 않습니다.</p>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" th:if="${auth_code == 'C'}" th:onclick="|location.href='@{/recruit/free/insert}'|">글쓰기</button>
        </div>

        <th:block th:if="${pages != null}">
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm previous" th:onclick="|location.href='@{/recruit/free/list(page=${currentPage - 1})}'|" th:disabled="${currentPage == 1}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </button>
                    <th:block th:each="p : ${#numbers.sequence(1, pages)}">
                        <button type="button" class="btn btn-sm me-2 pages"
                                th:text="${p}" th:onclick="|location.href='@{/recruit/free/list(page=${p})}'|"></button>
                    </th:block>
                    <button type="button" class="btn btn-sm  next" th:onclick="|location.href='@{/recruit/free/list(page=${currentPage + 1})}'|" th:disabled="${currentPage == pages}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>