<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather | 프리랜서</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .choice {
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #888888;
        }
        .text-header {
          border-bottom: none;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;
        }
        .text-body {
          padding: 20px;
          border-radius: 8px;
        }
        .info-text {
          text-align: center;
          color: #6c757d;
          font-size: 14px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <div th:replace="~{recruit/menubar}"></div>
    <br>
    <div class="container">
        <div class="choice">
            <div class="text-header">
                <h2 class="text-center mb-0">프리랜서 게시글 수정</h2>
            </div>
            <div class="text-body">
                <form th:action="@{/recruit/free/update}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="board_no" th:value="${free.board_no}" readonly>
                    <input type="hidden" name="existingImage" th:value="${free.img}">
                    <div class="form-group">
                        <label for="title">제목 *</label>
                        <input id="title" name="title" th:value="${free.title}" class="form-control" maxlength='50' required  pattern=".*\S+.*">
                    </div>
                    <div class="form-group">
                        <label for="content">내용 *</label>
                        <input id="content" name="content" th:value="${free.content}" class="form-control" style="height:300px;" required maxlength="1000"  pattern=".*\S+.*">
                    </div>
                    <div class="form-group">
                        <label for="singleFile">이미지 변경</label>
                        <input type="file" name="singleFile" class="form-control" onchange="handleFileSelect(event)">
                        <div id="selectedImage" th:if="${free.img != '' && free.img != null}">
                            <img th:src="@{'/uploadFiles/free/' + ${free.img}}" alt="Selected Image" style="max-width: 200px; max-height: 200px;">
                            <button type="button" onclick="removeImage()" class="btn btn-sm">x</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">가격 *</label>
                        <input id="price" name="price" th:value="${free.price}" type="number" class="form-control" required min="0">
                    </div>
                    <div class="form-group">
                        <label for="contact">판매자 연락처 *</label>
                        <input type="text" id="contact" name="contact" th:value="${free.contact}" class="form-control" required pattern=".*\S+.*" maxlength="100">
                        <small class="form-text text-muted">전화번호 또는 이메일 중 선호하는 형식으로 작성해 주세요.</small>
                    </div>
                    <div class="form-group text-right">
                        <a href="/recruit/free/list" class="btn btn-secondary">첫페이지로</a>
                        <button id="b2" type="submit" class="btn btn-primary">수정</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<script>
    function removeImage() {
         var hiddenInput = document.querySelector('input[name="existingImage"]');

            if (hiddenInput) {
                hiddenInput.value = ''; // Hidden input의 value를 빈 문자열로 설정
            }

            // 선택된 이미지와 버튼을 숨김
            var selectedImageDiv = document.getElementById('selectedImage');
            if (selectedImageDiv) {
                selectedImageDiv.style.display = 'none';
            }

    }

    function handleFileSelect(event) {
            // 파일이 선택되면 #selectedImage 요소를 숨깁니다.
            var selectedImageDiv = document.getElementById('selectedImage');
            if (selectedImageDiv) {
                selectedImageDiv.style.display = 'none'; // 숨김
            }
    }
</script>
<div th:replace="common/footer.html"></div>
</body>
</html>