<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/social-styles.css}">
</head>
<body>
<div th:fragment="main-menubar">
    <div class="row">
        <!-- 툰투게더 서비스 소개글 -->
        <div class="col-md-6 introduction">
            <p class="title">
                <strong>툰투게더</strong>
            </p>
            <p class="description">
                웹툰 팬들을 위한 소셜 플랫폼, 툰투게더에 오신 것을 환영합니다.<br>
                다 읽은 작품의 리뷰와 지금 읽고 있는 작품 다이어리를 공유하며
                웹툰에 대한 열정을 나눠보세요.
            </p>
        </div>

        <!-- 로그인 한 사용자 소셜 홈 링크 -->
        <div class="col-md-6">
            <div sec:authorize="isAnonymous()">
                <p class="anonymous-message"><strong>로그인 하고 더 많은 기능을 이용해보세요!</strong><br>
                    📖 완독한 웹툰 리뷰를 남기고 최애 웹툰을 공유해요<br>
                    💓 마음에 드는 리뷰에 좋아요 남기고 소통해요<br>
                    💭 다이어리와 댓글로 지금 읽고 있는 웹툰에 대한 생각을 공유해요<br>
                    🤝 팔로우로 다른 웹툰 팬들과 연결돼요
                </p>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="social-user-profile">
                    <img th:src="${#authentication.principal.userDTO.profileImagePath != null and #authentication.principal.userDTO.profileImagePath != '' ? '/uploadFiles/' + #authentication.principal.userDTO.profileImagePath : '/images/defaultprofileimage.png'}" alt="프로필 사진" class="social-profile-image">
                    <span th:text="${#authentication.principal.userDTO.nickname}" class="social-user-nickname"></span>
                </div>
                <nav class="social-user-menu">
                    <ul>
                        <li><a th:href="@{/social/users/{userId}/profile(userId=${#authentication.principal.userDTO.userId})}">홈</a></li>
                        <li><a th:href="@{/social/users/{userId}/reviews(userId=${#authentication.principal.userDTO.userId})}">리뷰</a></li>
                        <li><a th:href="@{/social/users/{userId}/diaries(userId=${#authentication.principal.userDTO.userId})}">다이어리</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
