<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather | 툰투게더 홈</title>
</head>
<body>

<div th:replace="common/menubar.html"></div>

<div class="container mt-4">
    <h2>소셜 홈</h2>
    <div class="mt-3">
        <!-- 테스트용: webtoonNo=1 하드코딩 -->
        <a href="/social/reviewInsertForm?webtoonNo=1" class="btn btn-primary">리뷰 작성 (테스트용)</a>
        <!--<a th:href="@{/social/reviewInsertForm(webtoonNo=${webtoon.webtoonNo})}" class="btn btn-primary">리뷰 작성 버튼</a>-->
    </div>
    <div class="mt-3">
        <!-- 테스트용: webtoonNo=1 하드코딩 -->
        <a href="/social/diaryInsertForm?webtoonNo=1" class="btn btn-primary">다이어리 작성 (테스트용)</a>
        <!--<a th:href="@{/social/reviewInsertForm(webtoonNo=${webtoon.webtoonNo})}" class="btn btn-primary">리뷰 작성 버튼</a>-->
    </div>
    <div class="mt-3">
        <!-- 테스트용: userNo=1 하드코딩 -->
        <a href="/social/reviewList" class="btn btn-primary">사용자별 리뷰 목록 (테스트용)</a>
    </div>
</div>

</body>
</html>
