<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather | 툰투게더<</title>
    <link rel="stylesheet" th:href="@{/css/social-styles.css}">
</head>
<body>
<div th:replace="common/menubar.html"></div>

<div class="container mt-4">
    <div th:replace="social/user/profile-menubar :: profile-menubar"></div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="profile-section favorite-webtoons">
                <h3>최애 웹툰</h3>
                <!-- 최애 웹툰 구현 예정 -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-section popular-reviews">
                <h3>인기 리뷰</h3>
                <!-- 인기 리뷰 구현 예정 -->
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="profile-section recent-activities">
                <h3>최근 활동</h3>
                <!-- 최근 활동 구현 예정 -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-section following">
                <h3>팔로잉</h3>
                <!-- 팔로잉 구현 예정 -->
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>