<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>툰게더 toonGather | 로그인</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>
    <script>

         function validateEmail(email) {
            // 이메일 형식을 검증하는 정규 표현식
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailPattern.test(email);
        }

        // 폼 제출 전 이메일 형식을 검증하는 함수
        function validateForm(event) {

            // (1/2) nickname available check
            const nickname = document.getElementById('nickname').value;

            if(!nickname) {
                alert('닉네임을 입력해 주세요.');
                return;
            }

            if (nickname.length < 4) {
                alert('닉네임의 글자수는 최소 4자입니다.');
                return;
            }

            // (2/2) email available check
            const email = document.getElementById('email').value;

            if(!email) {
                alert('이메일을 입력해 주세요.');
                return;
            }

            // 이메일 검증
            if (!validateEmail(email)) {
                alert("이메일 형식이 올바르지 않습니다. 예: example@example.com");
                event.preventDefault(); // 폼 제출을 막음
                return;
            }
    }
    </script>
</head>
<body>

<div th:replace="~{common/menubar}"></div>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content-wrapper {
        flex: 1 0 auto;
    }
    footer {
        flex-shrink: 0;
    }

</style>
<div class="content-wrapper">
    <style>
        .jumbotron {
        position : relative;
        background-color : #EEEEEE;
        }
        .jumbotron .row {
        position : absolute;
        width : 100%;
        bottom: 0%;
        }

        #loginbox {
        border-radius : 5%;
        border-color : #F2F2F2;
        }

        .logininput {
        background-color : #FCFCFC;
        border : none;
        height : 50px;
        }

        .logininput::placeholder {
        color : #BBBBBB;
        }

         .nav-link {
                color: #828282;
        }
        ul {
      list-style: none;
      padding-left : 0px;
      }

    </style>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-md-3 px-4">
                            <h3>로그인</h3>
                        </div>
                        <div class="col-md-9">
                            <nav class="navbar navbar-expand-md">
                                <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
                                    <li>-</li>
                                    <!--          <li><a th:href="@{/user/my/in/journal}" class="nav-link px-2">좋아요한 웹툰소식</a></li>-->
                                    <!--          <li><a th:href="@{/user/my/in/event}" class="nav-link px-2">좋아요한 행사</a></li>-->
                                    <!--          <li><a th:href="@{/user/my/in/merchan}" class="nav-link px-2">좋아요한 굿즈</a></li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding:0;">
        <div class="row">
            <aside class="col-md-3 px-4">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        <div class="panel">
                            <ul class="list-group">
                                <li><a th:href="@{/user/login}" class="nav-link px-2" style="color: #03C75A;">로그인</a>
                                </li>
                                <li><a th:href="@{/user/signup}" class="nav-link px-2">회원가입</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-md-9">
                <div class="row justify-content-center">
                    <div class="col-6 border" id="loginbox" style="text-align:center;">
                        <div class="px-3 py-4" style="text-align: center; ">
                            <h2>아이디 찾기</h2>
                        </div>
                        <div class="px-3 py-2" style="text-align:center;">
                            <a href="/user/findid" style="color: black;">아이디 찾기</a> | <a href="/user/findpw"
                                                                                         style="color: black;">비밀번호
                            찾기</a>
                        </div>

                        <div class="row px-3 py-2">
                            <div class="col-12">
                                <hr>
                            </div>
                        </div>

                        <form th:action="@{/user/findid}" th:object="${user}" method="post"
                              onsubmit="validateForm(event)">
                            <div class="row px-3">
                                <div class="col-12 mb-3 py-1">
                                    <input type="text" th:field="*{nickname}" class="form-control logininput"
                                           maxlength="20" minlength="4" placeholder="닉네임"/>
                                </div>

                                <div class="col-12 mb-3 py-1">
                                    <input type="text" th:field="*{email}" class="form-control logininput"
                                           placeholder="이메일"/>
                                </div>

                                <div class="col-12 pt-3 pb-4">
                                    <button type="submit" class="btn btn-primary btn-block"
                                            style="background-color:grey; height:50px;">아이디 찾기
                                    </button>
                                </div>

                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
</html>