<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>KHG02: 회원가입 완료</title>
    <meta charset="UTF-8">
    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    회원가입 완료<br>
    성공적으로 가입이 완료되었습니다.<br>
    로그인하여 다양한 플랫폼을 누려 보세요!<br>
    <a href="/user/login">툰게더 로그인하기</a>
</div>
</body>
</html>