<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>툰게더 toonGather | 로그인</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>
</head>
<body>

<div th:replace="~{common/menubar}"></div>
<style>
    .jumbotron {
    position : relative;
    background-color : #EEEEEE;
    }
    .jumbotron .row {
    position : absolute;
    width : 100%;
    bottom: 0%;
    }

    #loginbox {
    border-radius : 5%;
    border-color : #F2F2F2;
    }

    .logininput {
    background-color : #FCFCFC;
    border : none;
    height : 50px;
    }

    .logininput::placeholder {
    color : #BBBBBB;
    }

    .nav-link {
            color: #828282;
    }
    ul {
  list-style: none;
  padding-left : 0px;
  }

</style>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-md-3 px-4">
                        <h3>로그인</h3>
                    </div>
                    <div class="col-md-9">
                        <nav class="navbar navbar-expand-md">
                            <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
                                <li>-</li>
                                <!--          <li><a th:href="@{/user/my/in/journal}" class="nav-link px-2">좋아요한 웹툰소식</a></li>-->
                                <!--          <li><a th:href="@{/user/my/in/event}" class="nav-link px-2">좋아요한 행사</a></li>-->
                                <!--          <li><a th:href="@{/user/my/in/merchan}" class="nav-link px-2">좋아요한 굿즈</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding:0;">
    <div class="row">
        <aside class="col-md-3 px-4">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="panel">
                        <ul class="list-group">
                            <li><a th:href="@{/user/login}" class="nav-link px-2" style="color: #03C75A;">로그인</a></li>
                            <li><a th:href="@{/user/signup}" class="nav-link px-2">회원가입</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-md-9">
            <div class="row justify-content-center">
                <div class="col-6 border" id="loginbox" style="text-align:center;">
                    <div class="px-3 py-4" style="text-align: center; ">
                        <h2>로그인</h2>
                    </div>
                    <div class="px-3 py-2">
                        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=74obWxfUMfykv5opH_Xw&redirect_uri=http://localhost:8099/user/auth/naver/callback&state=test"><img src="/images/user/b_naver.png" class="img-fluid"></a>
                    </div>
                    <div class="px-3 py-2">
                        <a href="https://kauth.kakao.com/oauth/authorize?client_id=87b870e71a148436e9f9c4a2aba3801d&redirect_uri=http://localhost:8099/user/auth/kakao/callback&response_type=code"><img src="/images/user/b_kakao.png" class="img-fluid"></a>
                    </div>

                    <div class="row px-3 py-2">
                        <div class="col-5"><hr></div>
                        <div class="col-2" style="text-align:center;">또는</div>
                        <div class="col-5"><hr></div>
                    </div>

                    <form th:action="@{/user/login}" method="post">
                        <div class="row px-3">
                            <div class="col-12 mb-3 py-1">
                                <input type="text" name="username" class="form-control logininput" maxlength="20" minlength="4" placeholder="아이디"/>
                            </div>

                            <div class="col-12 mb-3 py-1">
                                <input type="password" name="password" class="form-control logininput" maxlength="30" minlength="8" placeholder="비밀번호"/>
                            </div>

                            <div class="col-12 pt-3 pb-4">
                                <button type="submit" class="btn btn-primary btn-block" style="background-color:grey; height:50px;">로그인</button>
                            </div>

                            <div class="col-12 pt-2 pb-5" style="text-align:center;">
                                <a href="/user/signup" style="color: black;">회원가입</a> | <a href="/user/findid" style="color: black;">ID/PW 찾기</a>
                            </div>

                        </div>


                    </form>



                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/footer.html"></div>
</body>
</html>