<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>KHG21: 마이페이지-나의웹툰-내가남긴코멘트</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    <style>
        .review-list {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f8f9fa;
            font-weight: bold;
        }

        .rating {
            color: #f39c12;
        }
        .clickable-row {
            cursor: pointer;
        }
        .clickable-row:hover {
            background-color: #f8f9fa;
        }
    </style>
    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>
</head>
<body>

<div th:replace="~{common/menubar}"></div>
<style>
    .jumbotron {
    position : relative;
    background-color : #EEEEEE;
    }
    .jumbotron .row {
    position : absolute;
    width : 100%;
    bottom: 0%;
    }

    .nav-link {
            color: #828282;
    }
    ul {
  list-style: none;
  padding-left : 0px;
  }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3 px-4">
            <h3>나의 웹툰</h3>
        </div>
        <div class="col-md-9">
            <nav class="navbar navbar-expand-md">
                <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
                    <li><a th:href="@{/user/my}" class="nav-link px-2">북마크한 웹툰</a></li>
                    <li><a th:href="@{/user/my/wt/comment}" class="nav-link px-2" style="color: #000;">내가 남긴 코멘트</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <aside class="col-md-3 px-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="panel">
                    <ul class="list-group">
                        <li><a th:href="@{/user/my}" class="nav-link px-2" style="color: #03C75A;">나의 웹툰</a></li>
                        <li><a th:href="@{/user/my/so/review}" class="nav-link px-2">나의 소셜</a></li>
                        <li><a th:href="@{/user/my/rct/job}" class="nav-link px-2">나의 채용</a></li>
                        <li><a th:href="@{/user/my/in/journal}" class="nav-link px-2">나의 소식</a></li>
                        <li><a th:href="@{/user/my/editprofile}" class="nav-link px-2">프로필 수정</a></li>
                        <li><a th:href="@{/user/my/cs}" class="nav-link px-2">나의 문의</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <style>
        .form-select {
        background-color : #FCFCFC;
        border : none;
        width : 100%;
        height : 50px;
        }
        select {
        color : #828282;
        }
        .form-control {
        background-color : #FCFCFC;
        border : none;
        width : 100%;
        height : 50px;
        }
    </style>
    <div class="col-md-9">
        <div class="row" style="color: #828282;">
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        <form id="sort-form" th:action="@{/user/my/wt/comment}" method="get">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <!-- 검색 조건 -->
                                            <label>
                                                <select class="form-select px-3" name="searchBy">
                                                    <option value="comment" th:selected="${searchBy == 'comment'}">코멘트내용</option>
                                                    <option value="title" th:selected="${searchBy == 'title'}">제목</option>
                                                    <option value="author" th:selected="${searchBy == 'author'}">작가</option>
                                                    <option value="genre" th:selected="${searchBy == 'genre'}">장르</option>
                                                    <option value="tag" th:selected="${searchBy == 'tag'}">태그</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control px-3" type="text" name="searchTerm" placeholder="검색어를 입력하세요" th:value="${searchTerm}" />
                                        </div>
                                        <div class="col-2">
                                            <!-- 검색 버튼 -->
                                            <button type="submit">검색</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2" style="background-color: red;"></div>
                                <div class="col-4">
                                    <div class="row justify-content-end">
                                        <!-- 정렬 조건 -->
                                        <label>
                                            <select class="form-select px-3" name="orderBy" onchange="this.form.submit()">
                                                <option value="recent" th:selected="${orderBy == 'recent'}">최근남긴순</option>
                                                <option value="oldest" th:selected="${orderBy == 'oldest'}">오래된순</option>
                                                <option value="views" th:selected="${orderBy == 'views'}">조회수높은순</option>
                                                <option value="likes" th:selected="${orderBy == 'likes'}">댓글좋아요많은순</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div> <!--검색, 소팅 (토글X)-->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="review-list">
                        <table>
                            <thead>
                            <tr>
                                <th>댓글 번호</th>
                                <th>웹툰 번호</th>
                                <th>유저 번호</th>
                                <th>내용</th>
                                <th>좋아요</th>
                                <th>싫어요</th>
                                <th>생성일시*</th>
                                <th>수정일시*</th>
                                <th>웹툰아이디</th>
                                <th>플렛폼</th>
                                <th>제목</th>
                                <th>작가</th>
                                <th>이미지URL</th>
                                <th>장르</th>
                                <th>태그</th>
                                <th>조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="myWtComment : ${myWtComments}" class="clickable-row"
                                th:attr="data-href=@{/webtoon/one(
                webtoon_id=${(myWtComment.platform == 1 ? 'naver_' : myWtComment.platform == 2 ? 'kakao_' : '') + myWtComment.webtoonId},
                webtoon_name=${myWtComment.webtoonName},
                author=${myWtComment.author}
                )}">
                                <td th:text="${myWtComment.commentNo}">댓글 번호</td>
                                <td th:text="${myWtComment.webtoonNo}">웹툰 번호</td>
                                <td th:text="${myWtComment.userNo}">유저 번호</td>
                                <td th:text="${myWtComment.content}">내용</td>
                                <td th:text="${myWtComment.liked}">좋아요</td>
                                <td th:text="${myWtComment.dislike}">싫어요</td>
                                <td th:text="${myWtComment.createdAt}">생성일시*</td>
                                <td th:text="${myWtComment.updatedAt}">수정일시*</td>
                                <td th:text="${myWtComment.webtoonId}">웹툰아이디</td>
                                <td th:text="${myWtComment.platform}">플렛폼</td>
                                <td th:text="${myWtComment.webtoonName}">제목</td>
                                <td th:text="${myWtComment.author}">작가</td>
                                <td th:text="${myWtComment.thumbnailUrl}">이미지URL</td>
                                <td th:text="${myWtComment.genre}">장르</td>
                                <td th:text="${myWtComment.tags}">태그</td>
                                <td th:text="${myWtComment.count}">조회수</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 페이징 -->
                        <th:block th:if="${pages != null}">
                            <div class="d-flex justify-content-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm previous" th:onclick="|location.href='@{/user/my/wt/comment(orderBy=${orderBy}, searchBy=${searchBy}, searchTerm=${searchTerm}, page=${currentPage - 1})}'|" th:disabled="${currentPage == 1}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                        </svg>
                                    </button>
                                    <th:block th:each="p : ${#numbers.sequence(1, pages)}">
                                        <button type="button" class="btn btn-sm me-2 pages"
                                                th:text="${p}" th:onclick="|location.href='@{/user/my/wt/comment(orderBy=${orderBy}, searchBy=${searchBy}, searchTerm=${searchTerm}, page=${p})}'|"></button>
                                    </th:block>
                                    <button type="button" class="btn btn-sm  next" th:onclick="|location.href='@{/user/my/wt/comment(orderBy=${orderBy}, searchBy=${searchBy}, searchTerm=${searchTerm}, page=${currentPage + 1})}'|" th:disabled="${currentPage == pages}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div> <!--테이블과 페이징-->
            </div><!--테이블 및 페이징 포함-->
        </div>

    </div> <!--본화면-->
</div> <!--aside와 본화면-->
<div th:replace="common/footer.html"></div>
</body>
</html>