<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">


<head>
    <title>툰게더 toonGather | 회원가입</title>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 폰트: 'Noto Sans KR' 사용 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap">
    <!-- 프로젝트 툰게더 전용 css 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--KHG USER VALIDATION JS-->
    <script src="/js/uservalidation.js"></script>


    <style>
        .navbar {
          position: fixed;
          z-index: 1000;
        }
    </style>


</head>
<body>

<div th:replace="~{common/menubar}"></div>
<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content-wrapper {
        flex: 1 0 auto;
    }
    footer {
        flex-shrink: 0;
    }

</style>
<div class="content-wrapper">
    <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }
        .jumbotron {
        position : relative;
        background-color : #EEEEEE;
        }
        .jumbotron .row {
        position : absolute;
        width : 100%;
        bottom: 0%;
        }

        #loginbox {
        border-radius : 5%;
        border-color : #F2F2F2;
        }

        .form-control {
        background-color : #FCFCFC;
        border : none;
        width : 100%;
        height : 50px;
        }

        .logininput {
        background-color : #FCFCFC;
        border : none;
        height : 50px;
        }

        .logininput::placeholder {
        color : #BBBBBB;
        }

        button {
        background-color : #03C75A;
        }

        .form-select {
        background-color : #FCFCFC;
        border : none;
        width : 100%;
        height : 50px;
        }

        .form-check-input {
        accent-color: #03C75A;
        }

         .nav-link {
                color: #828282;
        }
        ul {
      list-style: none;
      padding-left : 0px;
      }

        .required-star {
            color: #03C75A;
        }

    </style>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-md-3 px-4">
                            <h3>회원 가입</h3>
                        </div>
                        <div class="col-md-9">
                            <nav class="navbar navbar-expand-md">
                                <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3" style="opacity:0;">
                                    <li><a class="nav-link px-2" href="#">로그인</a></li>
                                    <li><a class="nav-link px-2" href="#">로그인</a></li>
                                    <li><a class="nav-link px-2" href="#">로그인</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding:0;">
        <div class="container" style="padding:0;">
            <div class="row">
                <aside class="col-md-3 px-4">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-8">
                            <div class="panel">
                                <ul class="list-group">
                                    <li><a th:href="@{/user/login}" class="nav-link px-2">로그인</a></li>
                                    <li><a th:href="@{/user/signup}" class="nav-link px-2"
                                           style="color: #03C75A;">회원가입</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="col-md-9">
                    <div class="row justify-content-start" style="color: #828282;">
                        <div class="col-8 p-3" id="loginbox">
                            <form th:action="@{/user/signup}" th:object="${user}" method="post"
                                  onsubmit="validateForm(event)">
                                <div class="row p-2">
                                    <div class="col-3">
                                        아이디 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control px-3" type="text" th:field="*{userId}" maxlength="20"
                                               minlength="4"/>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-primary btn-block"
                                                style="background-color:#03C75A;" onclick="checkIdDuplicate()">중복확인
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        비밀번호 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control px-3" type="password" th:field="*{password}"
                                               maxlength="30" minlength="8"/>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        비밀번호 확인 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control px-3" type="password" th:field="*{confirmPassword}"
                                               maxlength="30" minlength="8"/>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        닉네임 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control px-3" type="text" th:field="*{nickname}"
                                               maxlength="20"
                                               minlength="4"/>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-primary btn-block"
                                                style="background-color:#03C75A;" onclick="checkNicknameDuplicate()">
                                            중복확인
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        연락처
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control px-3 logininput" type="text"
                                               th:field="*{contactNumber}"
                                               oninput="autoFormatPhoneNumber(this)" placeholder="000-0000-0000"/>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        성별
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select px-3" th:field="*{gender}">
                                            <option value="P">성별을 공개하지 않습니다</option>
                                            <option value="F">여</option>
                                            <option value="M">남</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        <!-- 생년월일을 연도, 월, 일로 나누어 드롭다운 박스 형태로 입력 -->
                                        생년월일
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-4">
                                                <select class="form-select" id="year" name="year" th:field="*{year}"
                                                        style="text-align:center;">
                                                    <option th:each="y : ${years}" th:value="${y}" th:text="${y}">연도
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <select class="form-select" id="month" name="month" th:field="*{month}"
                                                        style="text-align:center;">
                                                    <option th:each="m : ${months}" th:value="${m}" th:text="${m}">월
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <select class="form-select" id="day" name="day" th:field="*{day}"
                                                        style="text-align:center;">
                                                    <option th:each="d : ${days}" th:value="${d}" th:text="${d}">일
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        실명
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" th:field="*{realName}" maxlength="10"/>
                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        이메일 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input id="email" class="form-control" type="text" th:field="*{email}" minlength="5" maxlength="100"/>
                                    </div>
                                    <div class="col-3">
                                        <!--                            <button type="button" class="btn btn-primary btn-block" style="background-color:#03C75A;" onclick="checkEmailDuplicate()">중복확인</button>-->
                                        <button id="emailVerifyButton" type="button" class="btn btn-primary btn-block"
                                                style="background-color:#03C75A;" onclick="sendNumber()">인증하기
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-3">
                                        인증번호 입력 <span class="required-star">*</span>
                                    </div>
                                    <div class="col-6">
                                        <input id="mailNumber" class="form-control" type="text"
                                               th:field="*{mailNumber}" maxlength="6"/>
                                        <!-- 실제로는 보이지 않지만 폼에 포함될 hidden checkbox -->
                                        <input type="checkbox" id="verificationCheckbox" name="verificationCheckbox"
                                               style="display:none;"/>
                                    </div>
                                    <div class="col-3">
                                        <button id="emailConfirmButton" type="button" class="btn btn-primary btn-block"
                                                style="background-color:#03C75A;" onclick="confirmNumber()">인증확인
                                        </button>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-6">
                                        자기소개(선택사항)
                                    </div>
                                    <div class="col-6">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control logininput" rows="3" maxlength="150"
                                                  th:field="*{bio}"
                                                  placeholder="본인을 자유롭게 표현해주세요.&#13;&#10;소개 내용은 소셜 페이지에 활용됩니다!"></textarea>
                                    </div>
                                </div>

                                <div class="col-12 p-2">


                                </div>
                                <div class="form-check col-12 p-2">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="termsAgreementCheckbox"
                                               th:field="*{termsAgreement}" style="color: white;"/>
                                        [필수] <span class="required-star">*</span> 본인은 툰게더 회원 약관에 동의하였으며, <br>
                                        툰게더 커뮤니티 이용 수칙에 동의하는 바입니다.
                                    </label>
                                </div>
                                <div class="col-12 p-2">
                                    <button type="submit" class="btn btn-primary btn-block"
                                            style="background-color:#03C75A; height:50px;">가입하기
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
</html>