<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>IN Main</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function() {
            // 사용자 권한을 확인하고 적절히 리다이렉션합니다
            let roleAdmin = /*[[${#authorization.expression('hasRole("ROLE_ADMIN")')}]]*/ false;
            let roleUser = /*[[${#authorization.expression('hasRole("ROLE_USER")')}]]*/ false;
            let roleCreator = /*[[${#authorization.expression('hasRole("ROLE_CREATOR")')}]]*/ false;

            if (roleAdmin) {
                window.location.replace(/*[[@{/introduction/journal/admin/journalListAdmin]]*/ "/introduction/journal/admin/journalListAdmin");
            } else {
                // ROLE_USER, ROLE_CREATOR 또는 비로그인 상태일 경우
                window.location.replace(/*[[@{/introduction/journal/user/journalListUser}]]*/ "/introduction/journal/user/journalListUser");
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<h1>Loading...</h1>
</body>
</html>