<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>지원서 조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-md">
        <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
            <li><a th:href="@{/recruit/creator/choice}" class="nav-link px-2">창작자 등록</a></li>
            <li><a th:href="@{/recruit/job/list}" class="nav-link px-2">구인/구직</a></li>
            <li><a th:href="@{/recruit/free/list}" class="nav-link px-2">프리랜서</a></li>
            <li><a th:href="@{/recruit/ask/list}" class="nav-link px-2">문의 내역</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-4">지원서</h2>
            </div>
            <div class="card-body">
                <div>
                    <h3 class="font-bold">[[${apply.title}]]</h3>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; color: #6B7280;">
                    <div style="display: flex; align-items: center;">
                        <span th:text="${#dates.format(apply.created_date, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <span style="text-align: right;">[[${apply.member.nickname}]]</span>
                </div>
                <hr>
                <div class="mb-3 form-group">
                    <label class="form-control" style="height:auto; border: none;">
                        <br>
                        <span class="font-weight-bold" style="font-size : 15pt;">지원 내용</span>
                        <br> [[${apply.content}]] <br>
                        <div th:if="${apply.img != null}">
                            <img th:src="@{'/uploadFiles/' + ${apply.img}}" width="250" height="250" alt="지원글 이미지">
                        </div>
                    </label>
                </div>
                <div class="mt-4 text-right">
                    <a href="/recruit/job/applyList" class="btn btn-outline-primary">목록으로</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>