<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .text-red {
          color: #dc3545;
        }
    </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <div th:replace="~{recruit/menubar}"></div>
    <br>
    <div class="container">
        <h2 class="text-center mb-4">구인/구직</h2>
        <hr color="grey">
        <div id="d1">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">마감일</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${jobs}">
                    <td scope="row" th:text="${job.board_no}"></td>
                    <td><a th:href="@{/recruit/job/view(no=${job.board_no})}" th:text="${#strings.abbreviate(job.title, 15)}"></a></td>
                    <td th:text="${job.member.nickname}"></td>
                    <td class="deadline" th:text="${job.dead_line}"></td>
                    <td th:text="${#dates.format(job.created_date, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
            <p th:if="${jobs == null}" style="text-align: center;">구인/구직 글이 존재하지 않습니다.</p>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary btn-sm" th:if="${auth_code == 'C'}" th:onclick="|location.href='@{/recruit/job/insert}'|">글쓰기</button>
        </div>

        <th:block th:if="${pages != null}">
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm previous" th:onclick="|location.href='@{/recruit/job/list(page=${currentPage - 1})}'|" th:disabled="${currentPage == 1}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </button>
                    <th:block th:each="p : ${#numbers.sequence(1, pages)}">
                        <button type="button" class="btn btn-sm me-2 pages"
                                th:text="${p}" th:onclick="|location.href='@{/recruit/job/list(page=${p})}'|"></button>
                    </th:block>
                    <button type="button" class="btn btn-sm next" th:onclick="|location.href='@{/recruit/job/list(page=${currentPage + 1})}'|" th:disabled="${currentPage == pages}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div th:replace="common/footer.html"></div>
<script>
    $(document).ready(function() {
        $('.deadline').each(function() {
            var deadLineText = $(this).text().trim();
            console.log('Dead line text:', deadLineText);

            if (!deadLineText || deadLineText.toLowerCase() === 'null') {
                // 날짜가 비어있거나 'null'인 경우 '미정'으로 표시
                $(this).text('미정');
                $(this).removeClass('text-red');
                return;
            }

            var currentDate = new Date(); // 현재 날짜
            var deadlineDate = new Date(deadLineText);
            console.log('Deadline Date:', deadlineDate);

            var formattedDate = deadlineDate.toISOString().split('T')[0];
            var todayISO = currentDate.toISOString().split('T')[0];

            console.log('Formatted Date:', formattedDate);

            if (formattedDate < todayISO) {
                // 마감일이 현재 날짜보다 이전인 경우
                $(this).text('마감됨');
                $(this).addClass('text-red');
            } else {
                // 마감일이 현재 날짜 이후인 경우
                $(this).text(formattedDate);
                $(this).removeClass('text-red');
            }
        });
    });
</script>
</body>
</html>