<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather | 구인/구직</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        .choice {
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #888888;
        }
        .text-header {
          border-bottom: none;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;
        }
        .text-body {
          padding: 20px;
          border-radius: 8px;
        }
        .info-text {
          text-align: center;
          color: #6c757d;
          font-size: 14px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#form').on('submit', function (e) {
                var isValid = true;
                var errorMessage = "필수 항목이 공백으로만 입력되었습니다."; // 오류 메시지

                // 필수 입력 필드
                var requiredFields = ['#content'];

                for (var i = 0; i < requiredFields.length; i++) {
                    var value = $(requiredFields[i]).val().trim();
                    // 공백만 입력된 경우
                    if (value === '') {
                        isValid = false;
                        break; // 첫 번째 공백 필드를 발견하면 반복문 종료
                    }
                }

                if (!isValid) {
                    alert(errorMessage);
                    e.preventDefault(); // 폼 제출 중지
                }
            });
        });
    </script>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <div th:replace="~{recruit/menubar}"></div>
    <br>
    <div class="container mt-5">
        <div class="choice">
            <div class="text-header">
                <h2 class="text-center mb-0">구인/구직 게시글 수정</h2>
            </div>
            <div class="text-body">
                <form th:action="@{/recruit/job/update}" method="post" enctype="multipart/form-data" id="form">
                    <input type="hidden" name="board_no" th:value="${job.board_no}" readonly>
                    <input type="hidden" name="existingImage" th:value="${job.img}">
                    <div class="form-group">
                        <label for="title">제목 *</label>
                        <input id="title" name="title" th:value="${job.title}" class="form-control" maxlength='50' required pattern=".*\S+.*">
                    </div>
                    <div class="form-group">
                        <label for="dead_line">마감 일자</label>
                        <input type="date" id="dead_line" name="dead_line" th:value="${job.dead_line}" class="form-control">
                        <small class="form-text text-muted"> 마감 일자를 작성하지 않으면 "미정"으로 입력됩니다.</small>
                    </div>
                    <div class="form-group">
                        <label for="location">근무지</label>
                        <input id="location" name="location" th:value="${job.location}" class="form-control" maxlength="50">
                        <small class="form-text text-muted"> 근무지를 작성하지 않으면 "재택 근무"로 입력됩니다.</small>
                    </div>
                    <div class="form-group">
                        <label for="content">상세 요강 *</label>
                        <textarea id="content" name="content" class="form-control" rows="8" required maxlength="1000">[[${job.content}]]</textarea>
                    </div>
                    <div class="form-group">
                        <label for="singleFile">이미지 변경</label>
                        <input type="file" name="singleFile" class="form-control" onchange="handleFileSelect(event)" style="height:40px; line-height: 20px;">
                        <div id="selectedImage" th:if="${job.img != '' && job.img != null}">
                            <br>
                            <img th:src="@{'/uploadFiles/job/' + ${job.img}}" alt="Selected Image" style="max-width: 200px; max-height: 200px;">
                            <button type="button" onclick="removeImage()" class="btn btn-sm">x</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact">채용담당자 연락처 *</label>
                        <input type="text" id="contact" name="contact" th:value="${job.contact}" class="form-control" required maxlength="100" pattern=".*\S+.*">
                        <small class="form-text text-muted">전화번호 또는 이메일 중 선호하는 형식으로 작성해 주세요.</small>
                    </div>
                    <div class="form-group text-right">
                        <a href="/recruit/job/list" class="btn btn-secondary">첫페이지로</a>
                        <button id="b2" type="submit" class="btn btn-primary">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function removeImage() {
         var hiddenInput = document.querySelector('input[name="existingImage"]');

            if (hiddenInput) {
                hiddenInput.value = ''; // Hidden input의 value를 빈 문자열로 설정
            }

            // 선택된 이미지와 버튼을 숨김
            var selectedImageDiv = document.getElementById('selectedImage');
            if (selectedImageDiv) {
                selectedImageDiv.style.display = 'none';
            }

    }

    function handleFileSelect(event) {
            // 파일이 선택되면 #selectedImage 요소를 숨깁니다.
            var selectedImageDiv = document.getElementById('selectedImage');
            if (selectedImageDiv) {
                selectedImageDiv.style.display = 'none'; // 숨김
            }
    }
</script>
<div th:replace="common/footer.html"></div>
</body>
</html>