<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-md">
        <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
            <li><a th:href="@{/recruit/creator/choice}" class="nav-link px-2">창작자 등록</a></li>
            <li><a th:href="@{/recruit/job/list}" class="nav-link px-2">구인/구직</a></li>
            <li><a th:href="@{/recruit/free/list}" class="nav-link px-2">프리랜서</a></li>
            <li><a th:href="@{/recruit/ask/list}" class="nav-link px-2">문의 내역</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-4" th:text="${job.title}">구인/구직 글 제목</h2>
            </div>
            <hr color="grey">
            <div class="card-body">
                <div class="row" >
                    <div class="form-group col-md-6">

                        <label class="form-control">작성자: 닉네임</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control">작성일: [[${job.created_date}]]</label>
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-control" style="height:auto; padding: 10px;">내용: <br> [[${job.content}]] <br> <br>
                        근무지: <br> [[${job.location}]] <br>
                        <div th:if="${job.location != null and not(job.location.isEmpty())}" >
                            <div id="map" style="width:350px;height:350px;"></div>
                        </div>

                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cb41ed3e9d236412bf5bb02c8b9e896&libraries=services"></script>
                        <script>
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                    level: 3 // 지도의 확대 레벨
                                };

                            // 지도를 생성합니다
                            var map = new kakao.maps.Map(mapContainer, mapOption);

                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();

                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch('[[${job.location}]]', function(result, status) {

                                // 정상적으로 검색이 완료됐으면
                                 if (status === kakao.maps.services.Status.OK) {

                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });

                                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                                    var infowindow = new kakao.maps.InfoWindow({
                                        content: '<div style="width:150px;text-align:center;padding:6px 0;">근무지</div>'
                                    });
                                    infowindow.open(map, marker);

                                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                    map.setCenter(coords);
                                }
                            });
                        </script>
                        <br>
                        <div th:if="${job.img != null}">
                            <img th:src="@{'/uploadFiles/' + ${job.img}}" width="250" height="250" alt="게시글 이미지">
                        </div>
                        <br>
                        마감 일자: <br> [[${job.dead_line}]] <br>
                    </label>
                </div>


                    <div style="margin-right:1px;" class="mt-4 text-center">
                        <a th:href="@{/recruit/job/apply(no=${job.board_no})}" class="btn btn-success">지원하기</a>
                    </div>

                <div class="mt-4 text-right">
                    <a href="/recruit/job/list" class="btn btn-outline-primary">목록으로</a>


                        <br>
                        <a th:href="@{/recruit/job/update(no=${job.board_no})}" class="btn btn-primary">수정</a>
                        <a th:href="@{/recruit/job/delete(no=${job.board_no})}" class="btn btn-danger">삭제</a>

                </div>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>