<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 조회</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-md">
        <ul class="nav col-12 col-md-auto mb-4 justify-content mb-md-3">
            <li><a th:href="@{/recruit/creator/choice}" class="nav-link px-2">창작자 등록</a></li>
            <li><a th:href="@{/recruit/job/list}" class="nav-link px-2">구인/구직</a></li>
            <li><a th:href="@{/recruit/free/list}" class="nav-link px-2">프리랜서</a></li>
            <li><a th:href="@{/recruit/ask/list}" class="nav-link px-2">문의 내역</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-4">구인/구직</h2>
            </div>
            <div class="card-body">
                <div>
                    <h3 class="font-bold">[[${job.title}]]</h3>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; color: #6B7280;">
                    <div style="display: flex; align-items: center;">
                        <span th:text="${#dates.format(job.created_date, 'yyyy-MM-dd HH:mm')}"></span>
                        <span style="margin-left: 10px; color: #0099DD" th:if="${job.modified_date != null and job.modified_date != ''}" th:text="'수정됨'"></span>
                    </div>
                    <span style="text-align: right;">[[${job.member.nickname}]]</span>
                </div>
                <hr>
                <div class="mb-3 form-group">
                    <label class="form-control" style="height:auto; border: none;">
                        <br>
                        <span class="font-weight-bold" style="font-size : 15pt;">모집 마감</span>
                        <br><span th:text="${job.dead_line != null ? job.dead_line.toString() : '미정'}"></span><br><br>
                        <span class="font-weight-bold" style="font-size : 15pt;">근무지</span>
                        <br><span th:text="${job.location != null and not(job.location.isEmpty()) ? job.location : '재택 근무'}"></span><br><br>
                        <div th:if="${job.location != null and not(job.location.isEmpty())}" >
                            <div class="form-control" id="map" style="height:350px;"></div>
                        </div>
                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cb41ed3e9d236412bf5bb02c8b9e896&libraries=services"></script>
                        <script>
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                    level: 3 // 지도의 확대 레벨
                                };

                            // 지도를 생성합니다
                            var map = new kakao.maps.Map(mapContainer, mapOption);

                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();

                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch('[[${job.location}]]', function(result, status) {

                                // 정상적으로 검색이 완료됐으면
                                 if (status === kakao.maps.services.Status.OK) {

                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });

                                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                    map.setCenter(coords);
                                }
                            });
                        </script>
                        <br><br>
                        <span class="font-weight-bold" style="font-size : 15pt;">상세 요강</span>
                        <hr>[[${job.content}]] <br>
                        <div th:if="${job.img != null}">
                            <img th:src="@{'/uploadFiles/' + ${job.img}}" width="250" height="250" alt="게시글 이미지">
                        </div>
                        <br>
                        <div th:if="${member_no != null and member_no != ''}">
                            <div style="margin-right:1px;" class="mt-4 text-center">
                                <a th:if="${hasApplied == false}" th:href="@{/recruit/job/apply(no=${job.board_no})}" class="btn btn-success">지원하기</a>
                                <button th:if="${hasApplied == true}" class="btn btn-success" disabled>지원완료</button>
                            </div>
                        </div>
                    </label>
                    <div class="mt-4 text-right">
                        <a href="/recruit/job/list" class="btn btn-outline-primary">목록으로</a>
                        <div th:if="${member_no == job.member.userNo}">
                            <br>
                            <a th:href="@{/recruit/job/update(no=${job.board_no})}" class="btn btn-primary">수정</a>
                            <a th:href="@{/recruit/job/delete(no=${job.board_no})}" class="btn btn-danger">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>