<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>툰게더 toonGather | 구인/구직</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
    <style>
        .choice {
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #888888;
        }
        .text-header {
          border-bottom: none;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;
        }
        .text-body {
          padding: 20px;
          border-radius: 8px;
        }
        .info-text {
          text-align: center;
          color: #6c757d;
          font-size: 14px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <div th:replace="~{recruit/menubar}"></div>
    <br>
    <div class="container">
        <div class="text-header">
            <h2 class="text-center mb-4">구인/구직</h2>
        </div>
        <div class="choice">
            <div class="text-body">
                <div>
                    <h3 class="font-bold">[[${job.title}]]</h3>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; color: #6B7280;">
                    <div style="display: flex; align-items: center;">
                        <span th:text="${#dates.format(job.created_date, 'yyyy-MM-dd HH:mm')}"></span>
                        <span style="margin-left: 10px; color: #0099DD" th:if="${job.modified_date != null and job.modified_date != ''}" th:text="'수정됨'"></span>
                    </div>
                    <span style="text-align: right;">[[${job.member.nickname}]]</span>
                </div>
                <hr>
                <div class="mb-3 form-group">
                    <label class="form-control" style="height:auto; border: none;">
                        <br>
                        <span class="font-weight-bold" style="font-size : 15pt;">모집 마감</span>
                        <br><span th:text="${job.dead_line != null ? job.dead_line.toString() : '미정'}"></span><br><br>
                        <span class="font-weight-bold" style="font-size : 15pt;">근무지</span>
                        <br><span th:text="${job.location != null and not(job.location.isEmpty()) ? job.location : '재택 근무'}"></span><br><br>
                        <div th:if="${job.location != null and not(job.location.isEmpty())}" >
                            <div class="form-control" id="map" style="height:350px;"></div>
                        </div>
                        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cb41ed3e9d236412bf5bb02c8b9e896&libraries=services"></script>
                        <script>
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                    level: 3 // 지도의 확대 레벨
                                };

                            // 지도를 생성합니다
                            var map = new kakao.maps.Map(mapContainer, mapOption);

                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();

                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch('[[${job.location}]]', function(result, status) {

                                // 정상적으로 검색이 완료됐으면
                                 if (status === kakao.maps.services.Status.OK) {

                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });

                                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                    map.setCenter(coords);
                                }
                            });
                        </script>
                        <br><br>
                        <span class="font-weight-bold" style="font-size : 15pt;">상세 요강</span>
                        <hr>
                        <div style="white-space:pre-wrap; word-wrap:break-word;"><span th:text="${job.content}"></span></div>
                        <div th:if="${job.img != null}">
                            <img th:src="@{'/uploadFiles/job/' + ${job.img}}" width="250" height="250" alt="게시글 이미지">
                        </div>
                        <br> <br>
                        <span class="font-weight-bold" style="font-size : 15pt;">채용담당자 연락처</span>
                        <br> [[${job.contact}]] <br>
                        <div th:if="${member_no != null and member_no != '' and member_no != job.writer}">
                            <div style="margin-right:1px;" class="mt-4 text-center">
                                <a id="apply-button" th:if="${hasApplied == false}" th:href="@{/recruit/job/apply(no=${job.board_no})}" class="btn btn-success">지원하기</a>
                                <button id="applied-button" th:if="${hasApplied == true}" class="btn btn-success" disabled>지원완료</button>
                                <button id="expired-button" class="btn btn-success" style="display: none;" disabled>마감된 공고</button>
                            </div>
                        </div>
                    </label>
                    <div class="mt-4 text-right">
                        <a href="/recruit/job/list" class="btn btn-secondary">목록으로</a>
                        <div th:if="${member_no == job.member.userNo}">
                            <br>
                            <a th:href="@{/recruit/job/update(no=${job.board_no})}" class="btn btn-warning">수정</a>
                            <a th:href="@{/recruit/job/delete(no=${job.board_no})}" class="btn btn-danger">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="common/footer.html"></div>
<script>
    $(document).ready(function() {
       var deadLine = '[[${job.dead_line}]]';
       if (deadLine) {
           var currentDate = new Date(); // 현재 날짜
           var deadlineDate = new Date(deadLine); // 마감일

           if (deadlineDate < currentDate) {
               // 마감일이 현재 날짜보다 이전인 경우
               $('#apply-button').hide(); // 지원하기 버튼 숨기기
               $('#applied-button').hide(); // 지원완료 버튼 숨기기
               $('#expired-button').show(); // 이미 마감된 공고 버튼 표시
           }
       }
   });
</script>
</body>
</html>