<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>툰게더 toonGather | 프리랜서</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <style>
    .choice {
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 20px;
      border: 1px solid #888888;
    }
    .text-header {
      border-bottom: none;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .text-body {
      padding: 20px;
      border-radius: 8px;
    }
    .info-text {
      text-align: center;
      color: #6c757d;
      font-size: 14px;
    }
  </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
  <div th:replace="~{recruit/menubar}"></div>
  <br>
  <div class="container mt-5">
    <div class="choice">
      <div class="text-header">
        <h2 class="text-center mb-0">주문</h2>
      </div>
      <div class="text-body">
        <form action="#" th:action="@{/recruit/free/pay/order}" id="form" method="post">
          <input type="hidden" id="board_no" name="board_no" th:value="${free.board_no}">
          <div class="form-group">
            <h3 class="font-bold">주문 상품</h3>
            <div style="display: flex; align-items: center;">
              <div th:if="${free.img != null}">
                <img th:src="@{'/uploadFiles/free/' + ${free.img}}" width="80" height="80" alt="프리랜서 글 이미지" style="border: 1px solid #aaa; border-radius: 5px;">
              </div>
              <div style="margin-left: 10px;">
                <span class="font-weight-bold" th:text="${free.title}"></span>
                <div class="form-group" style="margin-top: 5px;">
                  <!-- 개수를 입력받는 number 타입 필드 -->
                  <div style="display: flex; align-items: center;">
                    <label for="quantity" style="margin-right: 10px;">수량</label>
                    <input class="form-control" type="number" id="quantity" name="quantity" value="1" min="1" style="width: 60px;">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <br>
              <h3 class="font-bold">결제 금액 </h3>
              <span id="view_price">0원</span>
              <input type="hidden" id="price" name="price" value="0">
            </div>
          </div>
          <div class="form-group">
            <br>
            <h3 class="font-bold">의뢰인 정보</h3>
            <span >입금자 명 *</span>
            <input id="name" name="name" type="text" class="form-control" required th:value="${name}" maxlength="20" pattern=".*\S+.*">
            <br>
            <span >연락처 *</span>
            <input id="contact" name="contact" type="text" class="form-control" required maxlength="100" pattern=".*\S+.*">
            <small class="form-text text-muted">전화번호 또는 이메일 중 선호하는 형식으로 작성해 주세요.</small>
            <br>
            <span>환불 계좌 *</span>
            <div style="display: flex; align-items: center;">
              <select id="bank_name" name="bank_name" class="form-control" style="width: 200px;" required>
                <option value="" disabled selected>은행을 선택하세요</option>
                <option value="국민은행">국민은행</option>
                <option value="신한은행">신한은행</option>
                <option value="우리은행">우리은행</option>
                <option value="하나은행">하나은행</option>
                <option value="기업은행">기업은행</option>
                <option value="농협은행">농협은행</option>
                <option value="대구은행">대구은행</option>
                <option value="부산은행">부산은행</option>
                <option value="광주은행">광주은행</option>
                <option value="전북은행">전북은행</option>
                <option value="제주은행">제주은행</option>
                <option value="카카오뱅크">카카오뱅크</option>
                <option value="토스뱅크">토스뱅크</option>
                <option value="SC제일은행">SC제일은행</option>
              </select>
              <input id="account" name="account" type="text" class="form-control" required  maxlength="20" placeholder="계좌번호를 입력해주세요" pattern=".*\S+.*">
            </div>

          </div>
          <div class="form-group">
            <br>
            <h3 class="font-bold">결제 수단</h3>
            <br>
            <div th:if="${creator.kakao_pg != null and creator.kakao_pg != ''}">
              <input type="radio" id="kakaopay" name="payment-method" value="kakaopay">
              <label for="kakaopay">카카오페이</label><br>
            </div>
            <div th:if="${creator.inicis_pg != null and creator.inicis_pg != ''}">
              <input type="radio" id="kgini" name="payment-method" value="kgini">
              <label for="kgini">KG이니시스</label><br>
            </div>
            <input type="radio" id="bank" name="payment-method" value="bank" checked="checked">
            <label for="bank">무통장 입금</label><br>
          </div>
          <div class="form-group text-right">
            <button type="button" onclick="handlePayment()" class="btn btn-primary">결제하기</button>
            <a href="#" th:href="@{/recruit/free/list}" class="btn btn-secondary">취소</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const unitPrice = [[${free.price}]];
  var boardNo = [[${free.board_no}]];

    const quantityInput = document.getElementById('quantity');
    const priceSpan = document.getElementById('view_price');
    const hiddenPriceInput = document.getElementById('price');

    function updatePrice() {
      const quantity = quantityInput.value;
      const totalPrice = unitPrice * quantity;
      priceSpan.textContent = ` ${totalPrice}원`;
      hiddenPriceInput.value = totalPrice;
    }

    // 이벤트 리스너 추가
    quantityInput.addEventListener('input', updatePrice);

    // 페이지 로드 시 초기 가격 설정
    updatePrice();

    //
    function validateForm() {
    const name = document.getElementById('name').value.trim();
    const contact = document.getElementById('contact').value.trim();
    const bankName = document.getElementById('bank_name').value;
    const account = document.getElementById('account').value.trim();
    const paymentMethods = document.querySelectorAll('input[name="payment-method"]:checked');

    if (name === "") {
      alert('입금자 명을 입력해 주세요.');
      return false;
    }
    if (contact === "") {
      alert('연락처를 입력해 주세요.');
      return false;
    }
    if (bankName === "") {
      alert('은행을 선택해 주세요.');
      return false;
    }
    if (account === "") {
      alert('계좌번호를 입력해 주세요.');
      return false;
    }
    if (paymentMethods.length === 0) {
      alert('결제 수단을 선택해 주세요.');
      return false;
    }

    return true;
  }


  function handlePayment() {
    if (!validateForm()) {
      return;
    }

    const paymentMethods = document.querySelectorAll('input[name="payment-method"]:checked');

    if (paymentMethods.length === 0) {
      alert('결제 수단을 선택해 주세요.');
      return;
    }

    paymentMethods.forEach(function (checkbox) {
      const paymentMethod = checkbox.value;
      if (paymentMethod === 'kakaopay') {
        payment();
      } else if (paymentMethod === 'kgini') {
        paymentKgini();
      } else if (paymentMethod === 'bank') {
        $.ajax({
        url: '/recruit/free/pay/order', // 폼 데이터를 제출할 URL
        type: 'POST',
        data: new FormData(document.getElementById('form')),
        contentType: false,
        processData: false,
        success: function () {
          // 폼 제출 성공 후 페이지 이동
          window.location.href = "/recruit/free/pay/bank?no=" + boardNo;
        },
        error: function () {
          alert("폼 제출에 실패했습니다.");
        }
      });
      } else {
        alert(paymentMethod + ' 결제 수단은 현재 지원되지 않습니다.');
      }
    });
  }

  function payment() {
    IMP.init('imp86587478'); // 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
    IMP.request_pay({
      pg: "[[${creator.kakao_pg}]]", // PG사명 또는 PG사명.CID
      pay_method: "card", // 결제 방법
      merchant_uid: "kakao_" + new Date().getTime(), // 가맹점 주문번호
      name: "[[${free.title}]]", // 결제창에 노출될 상품명
      amount: hiddenPriceInput.value, // 가격
      buyer_name: document.getElementById('name').value
    }, function (rsp) { // 콜백 함수
      if (rsp.success) {
        alert("결제 성공");
        // 결제 성공 후 폼 제출
        document.getElementById('form').submit();
      } else {
        alert("결제 실패 : " + rsp.error_msg);
      }
    });
  }

   function paymentKgini() {
    IMP.init('imp86587478'); // 아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
    IMP.request_pay({
      pg: "[[${creator.inicis_pg}]]", // PG사명 또는 PG사명.CID (테스트 환경)
      pay_method: "card", // 결제 방법
      merchant_uid: "kgini_" + new Date().getTime(), // 고유한 주문번호 생성
      name: "[[${free.title}]]", // 결제창에 노출될 상품명
      amount: hiddenPriceInput.value, // 가격
      buyer_name: document.getElementById('name').value
    }, function (rsp) { // 콜백 함수
      if (rsp.success) {
        alert("결제 성공");
        // 결제 성공 후 폼 제출
        document.getElementById('form').submit();
      } else {
        alert("결제 실패 : " + rsp.error_msg);
      }
    });
  }
</script>
<div th:replace="common/footer.html"></div>
</body>
</html>