<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <title>툰게더 toonGather | 창작자 등록</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        .text-gray {
          margin-bottom: 4rem;
        }

        .text {
          margin-bottom: 1rem;
        }
        .choice {
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 20px;
          border: 1px solid #888888;
        }
        .text-header {
          border-bottom: none;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;
        }
        .text-body {
          padding: 20px;
          border-radius: 8px;
        }
        .info-text {
          text-align: center;
          color: #6c757d;
          font-size: 14px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
    <div th:replace="~{recruit/menubar}"></div>
    <div class="container mt-5">
        <div class="choice">
            <div class="text-header">
                <h2 class="text-center mb-1">창작자 등록</h2>
                <hr>
            </div>
            <div class="text-body">
                <p class="text-gray">원하시는 창작자 유형을 선택하세요.<br>
                    기업 창작자는 사업자 등록증이 필요합니다.</p>
                <form action="#" id="form">
                    <div class="form-group">
                        <p class="text">개인 창작자로 등록하고 싶다면 <br></p>
                        <a href="/recruit/creator/registInd"
                           color="default"
                           role="button"
                           class="btn btn-outline-primary btn-block"
                           th:classappend="${auth_code == 'C' or #strings.isEmpty(auth_code)} ? 'disabled' : ''">
                            <span class="button__start-icon-wrapper">
                                <span color="#e4e5ed" role="img" rotate="0" class="css-nh621w">
                                    <svg aria-hidden="true" fill="currentColor" focusable="false" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="24" class="css-7kp13n">
                                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                                        <path clip-rule="evenodd" d="M19.9245 6.41243C20.3357 6.78117 20.37 7.4134 20.0013 7.82456L11.3089 17.5169C11.1256 17.7214 10.8662 17.8415 10.5916 17.8489C10.3171 17.8564 10.0515 17.7506 9.85735 17.5564L4.20049 11.8995C3.80997 11.509 3.80997 10.8759 4.20049 10.4853C4.59102 10.0948 5.22418 10.0948 5.61471 10.4853L10.5249 15.3956L18.5124 6.48924C18.8811 6.07809 19.5133 6.0437 19.9245 6.41243Z" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </span>
                            <span class="css-7zhfhb">개인 창작자로 등록</span>
                        </a>
                    </div>
                    <div class="form-group">
                        <p class="text">기업 창작자로 등록하고 싶다면 <br></p>
                        <a href="/recruit/creator/registCorp"
                           color="default"
                           role="button"
                           class="btn btn-outline-primary btn-block"
                           th:classappend="${auth_code == 'C' or #strings.isEmpty(auth_code)} ? 'disabled' : ''">
                            <span class="button__start-icon-wrapper">
                                <span color="#e4e5ed" role="img" rotate="0" class="css-nh621w">
                                    <svg aria-hidden="true" fill="currentColor" focusable="false" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="24" class="css-7kp13n">
                                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                                        <path clip-rule="evenodd" d="M19.9245 6.41243C20.3357 6.78117 20.37 7.4134 20.0013 7.82456L11.3089 17.5169C11.1256 17.7214 10.8662 17.8415 10.5916 17.8489C10.3171 17.8564 10.0515 17.7506 9.85735 17.5564L4.20049 11.8995C3.80997 11.509 3.80997 10.8759 4.20049 10.4853C4.59102 10.0948 5.22418 10.0948 5.61471 10.4853L10.5249 15.3956L18.5124 6.48924C18.8811 6.07809 19.5133 6.0437 19.9245 6.41243Z" fill-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </span>
                            <span class="css-7zhfhb">기업 창작자로 등록</span>
                        </a>
                        <div class="info-text" style="text-align: left;">
                            <br> <br>
                            ※ 기업 창작자로 등록하시면, 프리랜서 게시판에서 인증 뱃지가 부여됩니다.
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="info-text">
            <br> <br>
            창작자 등록이 완료된 후, 구인/구직 게시판과 프리랜서 게시판에서 다양한 글을 작성하실 수 있습니다. <br>
            자신의 창작자 정보를 활용해 더 많은 기회를 얻으세요!
        </div>
    </div>
</div>
</body>
<div th:replace="common/footer.html"></div>
</html>