<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>창작자 등록</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{common/menubar}"></div>
<div layout:fragment="content">
  <div th:replace="~{recruit/menubar}"></div>
  <br>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center mb-0">창작자 등록</h2>
      </div>
      <div class="card-body">
        <form action="#" th:action="@{/recruit/creator/naverocr_result}" id="form" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="form-group">
              <label for="content">사업자 등록 번호</label>
              <textarea id="regist_no" name="regist_no" class="form-control" required placeholder="OOO-OO-OOOOO 형식으로 작성"></textarea>
            </div>
            <span class="input-group-text">IMG</span>
            <input class="form-control" type="file" name="file" required>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">등록</button>
            <a href="#" th:href="@{/recruit/main}" class="btn btn-secondary">취소</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
</html>