<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.toonGather.recruit.model.mapper.FreeMapper">
	<resultMap id="memberResultMap" type="userDTO">
		<result property="userNo" column="user_no"/>
		<result property="nickname" column="nickname"/>
	</resultMap>

	<resultMap id="FreeResultMap" type="freeDTO">
		<id property="board_no" column="board_no" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="img" column="img" />
		<result property="price" column="price" />
		<result property="contact" column="contact" />
		<result property="created_date" column="created_date" />
		<result property="modified_date" column="modified_date" />
		<result property="type_code" column="type_code" />
		<association property="member" column="writer" javaType="userDTO" resultMap="memberResultMap" />
	</resultMap>

	<resultMap id="FreeReviewResultMap" type="freeReviewDTO">
		<id property="review_no" column="review_no" />
		<result property="writer" column="writer" />
		<result property="board_no" column="board_no" />
		<result property="content" column="content" />
		<result property="star_rating" column="star_rating" />
		<result property="created_date" column="created_date" />
		<association property="member" column="writer" javaType="userDTO" resultMap="memberResultMap" />
	</resultMap>

	<resultMap id="ReportResultMap" type="freeReviewReportDTO">
		<id property="report_no" column="report_no" />
		<result property="review_no" column="review_no" />
		<result property="reporter" column="reporter" />
		<result property="content" column="content" />
		<result property="reported_date" column="reported_date" />
		<association property="member" column="reporter" javaType="userDTO" resultMap="memberResultMap" />
	</resultMap>

	<select id="selectAll" parameterType="pageDTO" resultMap="FreeResultMap">
		SELECT
		f.*,
		m.user_no,
		m.nickname,
		c.type_code
		FROM
		rct_free f
		JOIN
		users m ON f.writer = m.user_no
		INNER JOIN
		rct_creator_regist c ON f.writer = c.member_no
		WHERE
		c.status = 'A'
		<if test="page != null">
			ORDER BY f.board_no DESC
			LIMIT #{start}, 10
		</if>
	</select>

	<insert id="insertBoard" parameterType="freeDTO">
		INSERT INTO rct_free
		(
		writer
		, title
		, content
		, img
		, price
		, contact
		)
		VALUES
		(
		#{ member.userNo }
		, #{ title }
		, #{ content }
		, #{ img }
		, #{ price }
		, #{ contact }
		)
	</insert>

	<select id="selectBoard" parameterType="int" resultMap="FreeResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		, c.type_code
		FROM rct_free f
		JOIN users m ON f.writer = m.user_no
		LEFT JOIN
		rct_creator_regist c ON f.writer = c.member_no
		WHERE f.board_no = #{no}
	</select>

	<select id="selectReviewAll" parameterType="int" resultMap="FreeReviewResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		FROM rct_free_review f
		JOIN users m ON f.writer = m.user_no
		WHERE f.board_no = #{no}
	</select>

	<select id="getAverage" parameterType="int" resultType="double">
		SELECT COALESCE(AVG(star_rating), 0.0)
		FROM rct_free_review
		WHERE board_no = #{no}
	</select>

	<insert id="insertReview" parameterType="freeReviewDTO" useGeneratedKeys="true" keyProperty="review_no">
		INSERT INTO rct_free_review
		(
		writer
		, board_no
		, content
		, star_rating
		)
		VALUES
		(
		#{ member.userNo }
		, #{ board_no }
		, #{ content }
		, #{ star_rating }
		)
	</insert>

	<select id="selectReview" parameterType="int" resultMap="FreeReviewResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		FROM rct_free_review f
		JOIN users m ON f.writer = m.user_no
		WHERE f.review_no = #{no}
	</select>

	<select id="getWriterAvg" parameterType="int" resultType="double">
		SELECT COALESCE(AVG(star_rating), 0.0) AS avg_star_rating
		FROM rct_free_avg_ratings
		WHERE writer = #{writer}
	</select>

	<insert id="insertWriterAvg" parameterType="freeAvgRatingsDTO">
		INSERT INTO rct_free_avg_ratings
		(
		writer
		, star_rating
		, board_no
		, review_no
		)
		VALUES
		(
		#{ writer }
		, #{ star_rating }
		, #{ board_no }
		, #{ review_no }
		)
	</insert>

	<insert id="reportReview" parameterType="freeReviewReportDTO">
		INSERT INTO rct_free_review_report
		(
		review_no
		, reporter
		, content
		)
		VALUES
		(
		#{ review_no }
		, #{ reporter }
		, #{ content }
		)
	</insert>

	<select id="selectReportAll" parameterType="pageDTO" resultMap="ReportResultMap">
		SELECT
		r.*,
		m.user_no,
		m.nickname
		FROM
		rct_free_review_report r
		JOIN
		users m ON r.reporter = m.user_no
		<if test="page != null">
			ORDER BY r.report_no DESC
			LIMIT #{start}, 10
		</if>
	</select>

	<select id="selectReport" parameterType="int" resultMap="ReportResultMap">
		SELECT
		r.*
		, m.user_no
		, m.nickname
		FROM rct_free_review_report r
		JOIN users m ON r.reporter = m.user_no
		WHERE r.report_no = #{no}
	</select>

	<insert id="order" parameterType="freePayDTO">
		INSERT INTO rct_free_pay
		(
		member_no
		, board_no
		, quantity
		, price
		, bank_name
		, account
		, buyer_name
		, contact
		)
		VALUES
		(
		#{ member_no }
		, #{ board_no }
		, #{ quantity }
		, #{ price }
		, #{ bank_name }
		, #{ account }
		, #{ buyer_name }
		, #{ contact }
		)
	</insert>

	<select id="payInfo" resultType="boolean">
		SELECT COUNT(1) > 0
		FROM rct_creator_regist
		WHERE member_no = #{memNo}
		AND status = 'A'
		AND account IS NULL
	</select>

</mapper>