<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.toonGather.recruit.model.mapper.FreeMapper">
	<resultMap id="memberResultMap" type="userDTO">
		<result property="userNo" column="user_no"/>
		<result property="nickname" column="nickname"/>
	</resultMap>

	<resultMap id="FreeResultMap" type="freeDTO">
		<id property="board_no" column="board_no" />
		<result property="writer" column="writer" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="img" column="img" />
		<result property="price" column="price" />
		<result property="created_date" column="created_date" />
		<result property="modified_date" column="modified_date" />
		<association property="member" column="writer" javaType="userDTO" resultMap="memberResultMap" />
	</resultMap>

	<resultMap id="FreeReviewResultMap" type="freeReviewDTO">
		<id property="review_no" column="review_no" />
		<result property="writer" column="writer" />
		<result property="board_no" column="board_no" />
		<result property="content" column="content" />
		<result property="star_rating" column="star_rating" />
		<result property="created_date" column="created_date" />
		<association property="member" column="writer" javaType="userDTO" resultMap="memberResultMap" />
	</resultMap>

	<select id="selectAll" parameterType="pageDTO" resultMap="FreeResultMap">
		SELECT
			f.*
			, m.user_no
			, m.nickname
		FROM rct_free f
		JOIN users m ON f.writer = m.user_no
		<if test="page != null">
			ORDER BY f.board_no DESC
			LIMIT #{start}, 10
		</if>
	</select>

	<insert id="insertBoard" parameterType="freeDTO">
		INSERT INTO rct_free
		(
		writer
		, title
		, content
		, img
		, price
		)
		VALUES
		(
		#{ member.userNo }
		, #{ title }
		, #{ content }
		, #{ img }
		, #{ price }
		)
	</insert>

	<select id="selectBoard" parameterType="int" resultMap="FreeResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		FROM rct_free f
		JOIN users m ON f.writer = m.user_no
		WHERE f.board_no = #{no}
	</select>

	<select id="selectReviewAll" parameterType="int" resultMap="FreeReviewResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		FROM rct_free_review f
		JOIN users m ON f.writer = m.user_no
		WHERE f.board_no = #{no}
	</select>

	<select id="getAverage" parameterType="int" resultType="double">
		SELECT COALESCE(AVG(star_rating), 0.0)
		FROM rct_free_review
		WHERE board_no = #{no}
	</select>

	<insert id="insertReview" parameterType="freeReviewDTO">
		INSERT INTO rct_free_review
		(
		writer
		, board_no
		, content
		, star_rating
		)
		VALUES
		(
		#{ member.userNo }
		, #{ board_no }
		, #{ content }
		, #{ star_rating }
		)
	</insert>

	<select id="selectReview" parameterType="int" resultMap="FreeReviewResultMap">
		SELECT
		f.*
		, m.user_no
		, m.nickname
		FROM rct_free_review f
		JOIN users m ON f.writer = m.user_no
		WHERE f.review_no = #{no}
	</select>



</mapper>